<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>石油焦信息管理</title>
    <link href="css/themes/default/easyui.css" type="text/css" rel="stylesheet"/>
    <link href="css/themes/icon.css" rel="stylesheet"/>
    <link href="css/xwb_list.css" rel="stylesheet"/>
    <link href="css/themes/color.css" rel="stylesheet"/>
    <link href="css/wm.css" rel="stylesheet"/>
    <script src="script/jquery.min.js"></script>
    <script src="script/jquery.easyui.min.js"></script>
    <script src="script/easyui-lang-zh_CN.js"></script>

</head>
<body>

<!-- 条件查询 -->
<div>
    <form id="searchform" method="post">
        <table id="sec">
            <tr>
                <td>卡号：</td>
                <td><input type="text" name="admin_name" class="easyui-textbox" value=""/></td>
                <td>卡号状态:</td>
                <td>
                    <input type="text" name="admin_password" class="easyui-textbox" value=""/></td>

                <td>
                    <a href="javascript:void(0)" id="submit_search" class="easyui-linkbutton c1"
                       style="width:70px">查询</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<table id="dg" title="新闻展示表格">

</table>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">插入会员卡</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">修改会员卡信息</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeUser()">删除会员卡</a>
</div>
<!-- 添加新闻 -->
<div id="dlg" class="easyui-dialog" style="width:800px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">会员卡信息管理</div>

    <form id="fm" method="post" novalidate>

        <div class="fitem" hidden="hidden">
            <label>主键:</label>
            <input name="id" class="easyui-validatebox">
        </div>

        <div class="fitem">
            <label>省份:</label>
            <input name="province" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>企业名称:</label>
            <input name="company" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>简称:</label>
            <input name="s_company" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>硫含量_%:</label>
            <input name="sulfur" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>灰分_%:</label>
            <input name="ash" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>挥发分_%:</label>
            <input name="volatile_matter" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>扣水率_%:</label>
            <input name="wdr" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>钒含量_ppm:</label>
            <input name="vanadium" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>海绵焦/弹丸焦:</label>
            <select class="easyui-combobox" name="coke_type" panelHeight="auto" style="width:50px">
                <option value="1">海绵焦</option>
                <option value="2">弹丸焦</option>
            </select>

            <!--<input name="coke_type" class="easyui-validatebox">-->
        </div>

        <div class="fitem">
            <label>今日报价:</label>
            <input name="today_price" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>备注:</label>
            <input name="remarks" class="easyui-validatebox">
        </div>


        <!--<div class="fitem">-->
        <!--<label>作者:</label>-->
        <!--<input name="xwzz" class="easyui-validatebox">-->
        <!--</div>-->
        <!--<div class="fitem">-->
        <!--<label>类别:</label>-->
        <!--<input name="xwlb" class="easyui-validatebox">-->
        <!--</div>-->


    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>

<script>

    $('#dg').datagrid({
        url: 'selectMemberCardSelective',
        toolbar: '#toolbar',
        pagination: 'true',
        pageSize: 5,
        pageList: [5, 10, 15, 20],
        rownumbers: 'true',
        fitColumns: 'true',
        singleSelect: 'true',
        queryParams: form2Json('searchform'),

        columns: [[
            {field: 'id', title: '数据序列号', hidden: true},
            {field: 'province', title: '省份', width: 100},
            {field: 'company', title: '公司名称', width: 100},
            // formatter:function(value,row,index){
            // // console.log(row.mcardTypeid);
            // 	if(value==1){
            // 	    return '首享卡';
            // 	}else if(value==2){
            // 	    return '私享卡';
            // 	}else if(value==3){
            // 	    return '至尊卡';
            // 	}
            // console.log(value);
            // }},
            {field: 's_company', title: '简称', width: 100},
            {field: 'sulfur', title: '硫含量_%', width: 100},
            {field: 'ash', title: '灰分_%', width: 100},
            {field: 'volatile_matter', title: '挥发分_%', width: 100},
            {field: 'wdr', title: '扣水率_%', width: 100},
            {field: 'vanadium', title: '钒含量_ppm', width: 100},
            {field: 'coke_type', title: '海绵焦/弹丸焦', width: 100},
            {field: 'today_price', title: '今日报价', width: 100},
            {field: 'remarks', title: '备注', width: 100},
            {field: 'create_time', title: '创建时间', width: 100},
            {field: 'update_time', title: '更新时间', width: 100}
        ]]
    });

    function form2Json(id) {

        var arr = $("#" + id).serializeArray()
        var jsonStr = "";

        jsonStr += '{';
        for (var i = 0; i < arr.length; i++) {
            jsonStr += '"' + arr[i].name + '":"' + arr[i].value + '",'
        }
        jsonStr = jsonStr.substring(0, (jsonStr.length - 1));
        jsonStr += '}'

        var json = JSON.parse(jsonStr)
        return json
    }
</script>

<script type="text/javascript">
    var url;

    function newUser() {
        //打开添加新闻 窗口
        $('#dlg').dialog('open').dialog('setTitle', '插入会员卡');
        //把form表单的内容给清空
        $('#fm').form('clear');
        //给url赋值
        url = '/insertSelective';
    }

    function editUser() {
        //获得 选中的行
        var row = $('#dg').datagrid('getSelected');
        // 是否选中
        if (row) {
            //打开窗口
            $('#dlg').dialog('open').dialog('setTitle', '用户信息修改');
            //让from 表单去加载 选中行的数据
            $('#fm').form('load', row);
            //修改的地址
            url = '/updateSelective';
        }
    }

    function saveUser() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {

                if (result > 0) {
                    $.messager.alert('操作结果', '成功');
                    //关闭添加新闻窗口
                    $('#dlg').dialog('close');		// close the dialog
                    //重新加载数据
                    $('#dg').datagrid('reload');	// reload the user data
                } else {
                    $.messager.alert('操作结果', '失败');
                }
            }
        });
    }

    function removeUser() {
        //获得选中记录
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('确认按钮', '你确定要删除该数据?', function (r) {
                if (r) {
                    /* $.post('url路径',数据,回调方法,格式);
                        row.xwsj
                     */
                    $.post('/deleteByPK', {mcardId: row.mcardId}, function (result) {
                        if (result > 0) {
                            $.messager.alert('删除结果', '成功');
                            $('#dg').datagrid('reload');
                        } else {
                            $.messager.alert('删除结果', '失败');
                        }
                    }, 'json');
                }
            });
        }
    }

    $("#submit_search").click(function () {
        $('#dg').datagrid({url: "/selectMemberCardSelective", queryParams: form2Json("searchform")});   //点击搜索
    });
</script>
</body>
</html>
