<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>后端首页</title>
</head>
<body>

<div th:fragment="include/menu"></div>

<!--获取用户信息,及退出按钮-->
<shiro:user>
    欢迎<shiro:principal/>登录,<a href="/admin/doLogout">退出</a>
</shiro:user>


<!--<shiro:principal>-->
    <!--<span>你好,${subject.principal}</span>-->
    <!---->
<!--</shiro:principal>-->

<!--游客登录-->
<shiro:guest>
<a href="/admin/login">登录</a>
</shiro:guest>
</body>


</html>