<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>石油焦信息管理</title>
    <link href="/css/themes/default/easyui.css" type="text/css" rel="stylesheet"/>
    <link href="/css/themes/icon.css" rel="stylesheet"/>
    <link href="/css/xwb_list.css" rel="stylesheet"/>
    <link href="/css/themes/color.css" rel="stylesheet"/>
    <link href="/css/wm.css" rel="stylesheet"/>
    <script src="/script/jquery.min.js"></script>
    <script src="/script/jquery.easyui.min.js"></script>
    <script src="/script/easyui-lang-zh_CN.js"></script>



</head>
<body>

<!-- 条件查询 -->
<div>
    <form id="searchform" method="post">
        <table id="sec">
            <tr>
                <!--列举所有可查询字段-->
                <!--<td>id：</td>
                <td><input type="text" name="id" class="easyui-textbox" value=""/></td>-->
                <td>省份：</td>
                <td><input type="text" name="province" class="easyui-textbox" value=""/></td>
                <td>公司名称:</td>
                <td><input type="text" name="company" class="easyui-textbox" value=""/></td>
                <td>硫含量_%:</td>
                <td><input type="text" name="sulfur" class="easyui-textbox" value=""/></td>
                <td>灰分_%:</td>
                <td><input type="text" name="ash" class="easyui-textbox" value=""/></td>
                <td>挥发分_%:</td>
                <td><input type="text" name="volatile_matter" class="easyui-textbox" value=""/></td>
                <td>扣水率_%:</td>
                <td><input type="text" name="wdr" class="easyui-textbox" value=""/></td>
                <td>钒含量_ppm:</td>
                <td><input type="text" name="vanadium" class="easyui-textbox" value=""/></td>
                <!-- <td>海绵焦/弹丸焦:</td>
                 <td><input type="text" name="coke_type" class="easyui-textbox" value=""/></td>-->
                <td>海绵焦/弹丸焦:</td>
                <td>
                    <!--<input class="easyui-combobox" data-options="
                        valueField: 'label',
                        textField: 'value',
                        data: [{
                            label: '海绵焦',
                            value: '海绵焦'
                        },{
                            label: '弹丸焦',
                            value: '弹丸焦'
                        }]"/>-->
                    <select class="easyui-combobox" name="coke_type" panelHeight="auto"/>
                    <option value=""></option>
                    <option value="海绵焦">海绵焦</option>
                    <option value="弹丸焦">弹丸焦</option>
                    </select>
                </td>
                <td>今日报价:</td>
                <td><input type="text" name="today_price" class="easyui-textbox" value=""/></td>
                <td>备注:</td>
                <td><input type="text" name="remarks" class="easyui-textbox" value=""/></td>
                <!--<td>创建时间:</td>
                <td><input type="text" name="create_time" class="easyui-textbox" value=""/></td>
                <td>更新时间:</td>
                <td><input type="text" name="update_time" class="easyui-textbox" value=""/></td>-->


                <a href="javascript:void(0)" id="submit_search" class="easyui-linkbutton c1"
                   style="width:70px">查询</a>
                <button  type="reset" id="" class="easyui-linkbutton c1"
                         style="width:70px" >重置</button>
                </td>


            </tr>
        </table>
    </form>
</div>
<table id="dg" title="石油焦展示">

</table>
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新增数据</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">修改数据</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeUser()">删除数据</a>
</div>
<!-- 石油焦弹出窗口 -->
<div id="dlg" class="easyui-dialog" style="width:800px;height:580px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">石油焦信息</div>

    <form id="fm" method="post" novalidate>
        <div class="fitem" hidden="hidden">
            <label>主键:</label>
            <input name="id" class="easyui-validatebox">
        </div>

        <div class="fitem">
            <label>省份:</label>
            <input name="province" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>企业名称:</label>
            <input name="company" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>简称:</label>
            <input name="s_company" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>硫含量_%:</label>
            <input name="sulfur" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>灰分_%:</label>
            <input name="ash" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>挥发分_%:</label>
            <input name="volatile_matter" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>扣水率_%:</label>
            <input name="wdr" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>钒含量_ppm:</label>
            <input name="vanadium" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>海绵焦/弹丸焦:</label>
            <!--<input name="coke_type" class="easyui-validatebox" >-->
            <!--<input name="coke_type" class="easyui-combobox" data-options="valueField:'id',textField:'text',url:''">-->
            <select class="easyui-combobox" name="coke_type" panelHeight="auto" required="true">
                <option value="海绵焦">海绵焦</option>
                <option value="弹丸焦">弹丸焦</option>
            </select>
        </div>


        <div class="fitem">
            <label>今日报价:</label>
            <input name="today_price" class="easyui-validatebox" required="true">
        </div>

        <div class="fitem">
            <label>备注:</label>
            <input name="remarks" class="easyui-validatebox">
        </div>


    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>

<script>

    $('#dg').datagrid({
        url: '/petroleumCoke/selectPetroleumCokeSelective',
        toolbar: '#toolbar',
        pagination: 'true',
        pageSize: 5,
        pageList: [5, 10, 15, 20],
        rownumbers: 'true',
        fitColumns: 'true',
        singleSelect: 'true',
        queryParams: form2Json('searchform'),

        columns: [[
            {field: 'id', title: '数据序列号', hidden: true},
            {field: 'province', title: '省份', width: 50},
            {field: 'company', title: '公司名称', width: 100},
            // formatter:function(value,row,index){
            // // console.log(row.mcardTypeid);
            // 	if(value==1){
            // 	    return '首享卡';
            // 	}else if(value==2){
            // 	    return '私享卡';
            // 	}else if(value==3){
            // 	    return '至尊卡';
            // 	}
            // console.log(value);
            // }},
            {field: 's_company', title: '简称', width: 50},
            {field: 'sulfur', title: '硫含量_%', width: 50},
            {field: 'ash', title: '灰分_%', width: 50},
            {field: 'volatile_matter', title: '挥发分_%', width: 50},
            {field: 'wdr', title: '扣水率_%', width: 50},
            {field: 'vanadium', title: '钒含量ppm', width: 50},
            {field: 'coke_type', title: '海绵焦/弹丸焦', width: 60},
            {field: 'today_price', title: '今日报价', width: 100},
            {field: 'remarks', title: '备注', width: 100},
            {field: 'create_time', title: '创建时间', width: 100},
            {field: 'update_time', title: '更新时间', width: 100}
        ]]
    });

    function form2Json(id) {

        var arr = $("#" + id).serializeArray()
        var jsonStr = "";

        jsonStr += '{';
        for (var i = 0; i < arr.length; i++) {
            jsonStr += '"' + arr[i].name + '":"' + arr[i].value + '",'
        }
        jsonStr = jsonStr.substring(0, (jsonStr.length - 1));
        jsonStr += '}'

        var json = JSON.parse(jsonStr)
        return json
    }
</script>

<script type="text/javascript">
    var url;

    function newUser() {
        //打开添加新闻 窗口
        $('#dlg').dialog('open').dialog('setTitle', '插入数据');
        //把form表单的内容给清空
        $('#fm').form('clear');
        //给url赋值
        url = '/petroleumCoke/insertSelective';
    }

    function editUser() {
        //获得 选中的行
        var row = $('#dg').datagrid('getSelected');
        // 是否选中
        if (row) {
            //打开窗口
            $('#dlg').dialog('open').dialog('setTitle', '信息修改');
            //让from 表单去加载 选中行的数据
            $('#fm').form('load', row);
            //修改的地址
            url = '/petroleumCoke/updateByPrimaryKeySelective';
        }
    }

    function saveUser() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {

                if (result > 0) {
                    $.messager.alert('操作结果', '成功');
                    //关闭添加新闻窗口
                    $('#dlg').dialog('close');		// close the dialog
                    //重新加载数据
                    $('#dg').datagrid('reload');	// reload the user data
                } else {
                    $.messager.alert('操作结果', '失败');
                }
            }
        });
    }

    function removeUser() {
        //获得选中记录
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('确认按钮', '你确定要删除该数据?', function (r) {
                if (r) {
                    /* $.post('url路径',数据,回调方法,格式);
                        row.xwsj
                     */
                    $.post('/petroleumCoke/deleteByPrimaryKey', {id: row.id}, function (result) {
                        if (result > 0) {
                            $.messager.alert('删除结果', '成功');
                            $('#dg').datagrid('reload');
                        } else {
                            $.messager.alert('删除结果', '失败');
                        }
                    }, 'json');
                }
            });
        }
    }

    $("#submit_search").click(function () {
        $('#dg').datagrid({url: "/petroleumCoke/selectPetroleumCokeSelective", queryParams: form2Json("searchform")});   //点击搜索
    });


</script>



<div id="container1" style="height: 700px"></div>
<!--test echarts 2019-1-14-->
<script type="text/javascript">
    //TODO 测试echart数据
    $.ajax({
        url: "/petroleumCoke/selectPetroleumCokeSelective",
        data: form2Json('searchform'),
        dataType: "json",
        type: "POST",
        success: function (data) {
            alert(data);
        }


    })

    var dom = document.getElementById("container1");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</body>
</html>
