
<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<!--指定公共引入页面,引入静态资源-->

<head th:include="admin/goods/common/common_static">
</head>

<body>

  <!-- 公有淡入加载 -->
  <div th:fragment="loading_" id='Loading' style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background-color:#DDDDDB;text-align:center;padding-top: 20%;">
    <h1>
      <font color="#15428B">加载中···</font>
    </h1>
  </div>

  <!-- 条件查询 -->
  <!--指标查询frame窗-->
  <div id="theIndexSearchFrame" class="easyui-window" style="width:800px;height:550px;padding:10px 40px" closed="true">
    <form id="searchform" method="post">
      <table id="sec">
        <tr>
          <!--列举所有可查询字段-->
          <td>省份：</td>
          <td><input type="text" name="province" class="easyui-textbox" value="" /></td>
          <td>公司名称:</td>
          <td><input type="text" name="company" class="easyui-textbox" value="" /></td>
          <td>类型:</td>
          <td>
            <select class="easyui-combobox" name="coke_type" panelHeight="auto" />
            <option value=""></option>
            <option value="海绵焦">海绵焦</option>
            <option value="弹丸焦">弹丸焦</option>
            </select>
          </td>
        </tr>
        <tr>
          <!--<td>今日报价:</td>-->
          <!--<td><input type="text" name="today_price" class="easyui-textbox" value=""/></td>-->
          <td>备注:</td>
          <td><input type="text" name="remarks" class="easyui-textbox" value="" /></td>
          <td>汇报人:</td>
          <td><input type="text" name="reporter" class="easyui-textbox" value="" /></td>
          <td>品级:</td>
          <td>
            <select class="easyui-combobox" name="grade" panelHeight="auto" />
            <option value=""></option>
            <option value="1号">1号</option>
            <option value="2A">2A</option>
            <option value="2B">2B</option>
            <option value="3A">3A</option>
            <option value="3B">3B</option>
            </select>
          </td>

        </tr>

        <tr>
          <td>开始时间:</td>
          <td><input name="b_time" class="easyui-datetimebox" editable=false style="width: 150px" /></td>
          <td>结束时间:</td>
          <td><input name="e_time" class="easyui-datetimebox" editable=false style="width: 150px" /></td>
        </tr>
        <!--<form id="ff" style="margin-bottom:20px">-->
        <div class="list-category" id="s_sulfurDiv">
          <span class="listspan-category">硫含量%</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="sulfurCK" name="s_sulfur" label="硫含量%:">
        </div>
        <hr>
        <div class="list-category" id="s_ashDiv">
          <span class="listspan-category">灰分%</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="ashCK" name="s_ash" value="" label="灰分%:">
        </div>
        <hr>
        <div class="list-category" id="s_volatile_matterDiv">
          <span class="listspan-category">挥发分%</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="volatile_matterCK" name="s_volatile_matter" value="" label="挥发分%:">
        </div>
        <hr>
        <div class="list-category" id="s_wdrDiv">
          <span class="listspan-category">扣水率%</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="wdrCK" name="s_wdr" value="" label="扣水率%:">
        </div>
        <hr>
        <div class="list-category" id="s_vanadiumDiv">
          <span class="listspan-category">钒含量ppm</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="vanadiumCK" name="s_vanadium" value="" label="钒含量ppm:">
        </div>
        <hr>
        <div class="list-category" id="s_densityDiv">
          <span class="listspan-category">真密度g/cm³</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="densityCK" name="s_density" value="" label="真密度g/cm³:">
        </div>
        <hr>
        <div class="list-category" id="s_coke_contentDiv">
          <span class="listspan-category">粉焦量g/cm³</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="coke_contentCK" name="s_coke_content" value="" label="粉焦量g/cm³:">
        </div>
        <hr>
        <div class="list-category" id="s_today_priceDiv">
          <span class="listspan-category">今日报价</span>
          <input onclick="checkboxOnClick(this)" type="checkbox" class="easyui-checkbox" id="today_priceCK" name="s_today_price" value="" label="今日报价:">
        </div>
        <hr>

      </table>
      <a href="javascript:void(0)" id="submit_search" class="easyui-linkbutton c1 btn-query" style="width:70px">查询</a>
    </form>
  </div>

  <table id="dg" title="石油焦信息">

  </table>
  <div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">新增数据</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">修改数据</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="removeUser()">删除数据</a>
    <a href="javascript:window.location.reload()" iconCls="icon-reload" class="easyui-linkbutton" plain="true">重置数据</a>
    <a id="uploadExcel" onclick="uploadidalogonline()" iconCls="icon-large-smartart" class="easyui-linkbutton" plain="true">批量导入</a>
    <a href="javascript:void(0)" id="export_excel" iconCls="icon-save" class="easyui-linkbutton" plain="true">保存数据</a>
    <a id="quality_index_search" onclick="showIndexSearchFrame()" iconCls="icon-search" class="easyui-linkbutton" plain="true">条件查询</a>
    <a id="chart_and_table" onclick="chartAndTable()" iconCls="icon-large-chart" class="easyui-linkbutton" plain="true">切换图表</a>
  </div>
  <!-- 石油焦弹出窗口 -->
  <div id="dlg" class="easyui-dialog" style="width:800px;height:580px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
    <div class="ftitle">石油焦信息</div>
    <form id="fm" method="post" novalidate>
      <div class="fitem" hidden="hidden">
        <label>主键:</label>
        <input name="id" class="easyui-validatebox">
      </div>
      <div class="fitem">
        <label>省份:</label>
        <input name="province" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>企业名称:</label>
        <input name="company" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>简称:</label>
        <input name="s_company" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>硫含量_%:</label>
        <input name="sulfur" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>灰分_%:</label>
        <input name="ash" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>挥发分_%:</label>
        <input name="volatile_matter" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>扣水率_%:</label>
        <input name="wdr" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>钒含量_ppm:</label>
        <input name="vanadium" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>真密度_g/cm³:</label>
        <input name="density" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>粉焦量_%:</label>
        <input name="coke_content" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>类型:</label>
        <select class="easyui-combobox" name="coke_type" panelHeight="auto" required="true">
          <option value="海绵焦">海绵焦</option>
          <option value="弹丸焦">弹丸焦</option>
        </select>
      </div>
      <div class="fitem">
        <label>今日报价:</label>
        <input name="today_price" class="easyui-validatebox" required="true">
      </div>
      <div class="fitem">
        <label>备注:</label>
        <input name="remarks" class="easyui-validatebox">
      </div>
      <div class="fitem">
        <label>汇报人:</label>
        <input name="reporter" class="easyui-validatebox">
      </div>
    </form>
  </div>
  <div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
  </div>

  <!--上传excel的弹出窗-->
  <div id="uploadonlineinfo" class="easyui-window" style="width:380px;padding:10px 40px" closed="true">

    <form id="fam" method="post" enctype="multipart/form-data">

      <input type="file" id="uploadfile" name="uploadfile" style="width:100%" />

    </form>

    <br>

    <div data-options="region:'south',border:false" style="text-align:center;padding:5px 0 0;">
      <button id="uploadBtn" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="width:80px">上传
      </button>
    </div>
    <br>
    <p style="text-align: center"><a href="http://po136b50f.bkt.clouddn.com/shiyoujiao.xlsx">下载石油焦excel模板</a></p>

  </div>

  <script th:inline="none">
    $('#dg').datagrid({
        url: '/goods/PetroleumCoke/selectSelective',
        toolbar: '#toolbar',
        pagination: 'true',
        pageSize: 10,
        pageList: [5, 10, 15, 20],
        rownumbers: 'true',
        fitColumns: 'true',
        loadMsg: '数据加载中请稍后……',
        fit: 'true', //datagrid自适应宽高,不设置会导致单页数据条目过多时,无法使用滚轮查看下方数据
        // striped: 'false',//斑马纹
        // singleSelect: 'true',
        checkbox: 'true',
        idField: 'id',
        collapsible: 'true',
        iconCls: 'icon-save',
        // onCheckAll: 'addcheckItem',
        // onCheck:'addcheckItem',
        // onUncheckAll: 'removeAllItem',
        // onUncheck: 'removeSingleItem',
        // remoteSort:'true',
        queryParams: form2Json('searchform'),

        //悬停提示tooltip
        onLoadSuccess: function(data) {
          $(this).datagrid('tooltip');
        },

        columns: [
          [{
              field: 'id',
              align: 'center',
              title: '数据序列号',
              hidden: true
            },
            {
              field: 'ukyo',
              align: 'center',
              width: 30,
              checkbox: 'true'
            },
            {
              field: 'grade',
              title: '品级',
              width: 30
            },
            {
              field: 'province',
              title: '省份',
              width: 50
            },
            {
              field: 'company',
              title: '企业名',
              width: 100
            },
            {
              field: 's_company',
              title: '简称',
              width: 50
            },
            {
              field: 'sulfur',
              title: '硫含量_%',
              width: 50
            },
            {
              field: 'ash',
              title: '灰分_%',
              width: 50
            },
            {
              field: 'volatile_matter',
              title: '挥发分_%',
              width: 50
            },
            {
              field: 'wdr',
              title: '扣水率_%',
              width: 50
            },
            {
              field: 'vanadium',
              title: '钒含量ppm',
              width: 50
            },
            {
              field: 'density',
              title: '真密度g/cm³',
              width: 50
            },
            {
              field: 'coke_content',
              title: '粉焦量',
              width: 50
            },
            {
              field: 'coke_type',
              title: '类型',
              width: 60
            },
            {
              field: 'today_price',
              title: '今日报价',
              width: 60
            },
            {
              field: 'remarks',
              title: '备注',
              width: 100
            },
            {
              field: 'reporter',
              title: '汇报人',
              width: 90
            },
            {
              field: 'create_time',
              title: '创建时间',
              width: 148
            },
            {
              field: 'update_time',
              title: '更新时间',
              width: 148
            }
          ]
        ]
      },
      //之下为鼠标悬停table上展示单个字段的tooltip
      $.extend($.fn.datagrid.methods, {
        tooltip: function(jq, fields) {
          return jq.each(function() {
            var panel = $(this).datagrid('getPanel');
            if (fields && typeof fields == 'object' && fields.sort) {
              $.each(fields, function() {
                var field = this;
                bindEvent($('.datagrid-body td[field=' + field + '] .datagrid-cell', panel));
              });
            } else {
              bindEvent($(".datagrid-body .datagrid-cell", panel));
            }
          });

          function bindEvent(jqs) {
            jqs.mouseover(function() {
              var content = $(this).text();
              if (content && content != "") {
                $(this).tooltip({
                  content: content,
                  trackMouse: true,
                  deltaX: 15,
                  deltaY: -5,
                  onShow: function() {
                    $(this).tooltip('tip').css({
                      backgroundColor: '#f7f5d1',
                      borderColor: 'black'
                    });
                  }
                }).tooltip('show');
              }
            });
          }
        }
      })
      //tooltip end
    );

    function form2Json(id) {
      var arr = $("#" + id).serializeArray();
      var jsonStr = "";
      jsonStr += '{';
      for (var i = 0; i < arr.length; i++) {
        jsonStr += '"' + arr[i].name + '":"' + arr[i].value + '",'
      }
      jsonStr = jsonStr.substring(0, (jsonStr.length - 1));
      jsonStr += '}'
      var json = JSON.parse(jsonStr);
      return json;
    }
  </script>

  <script type="text/javascript">
    var url;

    function newUser() {
      //打开添加新闻 窗口
      $('#dlg').dialog('open').dialog('setTitle', '插入数据');
      //把form表单的内容给清空
      $('#fm').form('clear');
      //给url赋值
      url = '/goods/PetroleumCoke/insertSelective';
    }

    function editUser() {
      //获得 选中的行
      var rowedit = $("#dg").datagrid('getSelected');
      // // 是否选中
      if (rowedit) {
        //打开窗口
        $('#dlg').dialog('open').dialog('setTitle', '信息修改');
        //让form表单去加载 选中行的数据
        $('#fm').form('load', rowedit);
        //修改的地址
        url = '/goods/PetroleumCoke/updateByPKSelective';
      }
    }

    function saveUser() {
      $('#fm').form('submit', {
        url: url,
        onSubmit: function() {
          return $(this).form('validate');
        },
        success: function(result) {
          if (result > 0) {
            $.messager.alert('操作结果', '成功');
            //关闭添加新闻窗口
            $('#dlg').dialog('close'); // close the dialog
            //重新加载数据
            $('#dg').datagrid('reload'); // reload the data
          } else {
            $.messager.alert('操作结果', '失败');
          }
        }
      });
    }

    function removeUser() {
      //获得选中记录 多选
      var rows = $('#dg').datagrid('getSelections');
      if (rows) {
        $.messager.confirm('确认按钮', '你确定要删除该数据?', function(r) {
          if (r) {
            var ids = [];
            for (var i = 0; i < rows.length; i++) {
              ids.push(rows[i].id);
            }
            $.ajax({
              url: '/goods/PetroleumCoke/deleteBatchByPKs',
              dataType: 'json',
              data: {
                'ids': ids
              },
              type: 'POST',
              success: function(data) {
                if (data > 0) {
                  $.messager.alert('提示消息', '删除成功');
                  $('#dg').datagrid('reload');
                  $('#dg').datagrid('clearSelections');
                } else {
                  $.messager.alert('提示消息', '删除失败');
                  $('#dg').datagrid('reload');
                  $('#dg').datagrid('clearSelections');
                }
              }
            });
          }
        });
      }
    }

    $("#submit_search").click(function() {
      beforeSearch();
      $('#dg').datagrid({
        url: "/goods/PetroleumCoke/selectSelective",
        queryParams: form2Json("searchform")
      }); //点击搜索
    });

    //先判定每个checkbox是否选定,如果选定了的获取其中两个select两个input的value,赋值给原input的value
    function beforeSearch() {
      //声明多input条件查询字段id数组
      var indexArr = ['sulfurCK', 'ashCK', 'volatile_matterCK', 'wdrCK', 'vanadiumCK', 'densityCK', 'coke_contentCK', 'today_priceCK'];
      for (var i in indexArr) {
        var box = (document.getElementById(indexArr[i]));
        if (box.checked) {
          getValue(box);
        }
      }
    }

    function getValue(checkbox) {
      var symbolL = document.getElementById(checkbox.name + "SelectL").value;
      symbolL = (symbolL.length != 0) ? symbolL : "[null]";
      var inputValueL = document.getElementById(checkbox.name + "ChildL").value;
      inputValueL = (inputValueL.length != 0) ? inputValueL : "[null]";
      var symbolR = document.getElementById(checkbox.name + "SelectR").value;
      symbolR = (symbolR.length != 0) ? symbolR : "[null]";
      var inputValueR = document.getElementById(checkbox.name + "ChildR").value;
      inputValueR = (inputValueR.length != 0) ? inputValueR : "[null]";

      checkbox.value = symbolL + ":" + inputValueL + ":" + symbolR + ":" + inputValueR + ":" + checkbox.name;
      // alert(checkbox.name+","+checkbox.value)
    }

    // 导出excel按钮
    $("#export_excel").click(exportExcel);

    // 导出excel
    function exportExcel() {
      //获得选中记录 多选
      var row = $('#dg').datagrid('getSelections');
      //去除不需要导出的实体字段
      var deleteKey = ['b_time', 'e_time', 'order', 's_sulfur', 's_ash',
        's_volatile_matter', 's_wdr', 's_vanadium', 's_density', 's_coke_content',
        's_today_price'
      ];
      for (var i in row) {
        for (var j in deleteKey) {
          delete row[i][deleteKey[j]];
        }
      }
      if (row) {
        $.messager.confirm('确认按钮', '你确定要导出该数据?', function(r) {
          if (r) {
            downloadExl(row);
          }
        })
      }
    }

    function downloadExl(data, type) {
      var keys = Object.keys(data[0]);
      var firstRow = {};
      keys.forEach(function(item) {
        console.log("item:" + item);
        firstRow[item] = item;
      });
      data.unshift(firstRow);

      var content = {};

      //把json格式的数据转换为excel的行列形式
      var sheetsData = data.map(function(item, rowIndex) {
        return keys.map(function(key, columnIndex) {
          return Object.assign({}, {
            value: item[key],
            position: (columnIndex > 25 ? getCharCol(columnIndex) : String.fromCharCode(65 + columnIndex)) + (rowIndex + 1),
          });
        });
      }).reduce(function(prev, next) {
        return prev.concat(next);
      });

      sheetsData.forEach(function(item, index) {
        // content[item.position] = {v: item.value};
        if (item.value == 'id') {
          content[item.position] = {
            v: '序列号'
          };
        } else if (item.value == 'grade') {
          content[item.position] = {
            v: '品级'
          };
        } else if (item.value == 'province') {
          content[item.position] = {
            v: '省份'
          };
        } else if (item.value == 'company') {
          content[item.position] = {
            v: '企业'
          };
        } else if (item.value == 's_company') {
          content[item.position] = {
            v: '简称'
          };
        } else if (item.value == 'sulfur') {
          content[item.position] = {
            v: '硫含量%'
          };
        } else if (item.value == 'ash') {
          content[item.position] = {
            v: '灰分%'
          };
        } else if (item.value == 'volatile_matter') {
          content[item.position] = {
            v: '挥发分%'
          };
        } else if (item.value == 'wdr') {
          content[item.position] = {
            v: '扣水率%'
          };
        } else if (item.value == 'vanadium') {
          content[item.position] = {
            v: '钒含量ppm'
          };
        } else if (item.value == 'density') {
          content[item.position] = {
            v: '真密度g/cm³'
          };
        } else if (item.value == 'coke_content') {
          content[item.position] = {
            v: '粉焦量'
          };
        } else if (item.value == 'coke_type') {
          content[item.position] = {
            v: '类型'
          };
        } else if (item.value == 'today_price') {
          content[item.position] = {
            v: '今日报价(元)'
          };
        } else if (item.value == 'remarks') {
          content[item.position] = {
            v: '备注'
          };
        } else if (item.value == 'reporter') {
          content[item.position] = {
            v: '汇报人'
          };
        } else if (item.value == 'create_time') {
          content[item.position] = {
            v: '创建时间'
          };
        } else if (item.value == 'update_time') {
          content[item.position] = {
            v: '更新时间'
          };
        } else {
          content[item.position] = {
            v: item.value
          };
        }
      });

      //设置区域,比如表格从A1到D10,SheetNames:标题
      var coordinate = Object.keys(content);
      var workBook = {
        SheetNames: ["1"],
        Sheets: {
          "1": Object.assign({}, content, {
            "!ref": coordinate[0] + ":" + coordinate[coordinate.length - 1]
          }),
        }
      };

      //这里的数据是用来定义导出的格式类型
      var excelData = XLSX.write(workBook, {
        bookType: "xlsx",
        bookSST: false,
        type: "binary"
      });
      var blob = new Blob([string2ArrayBuffer(excelData)], {
        type: ""
      });

      // filename = "石油焦";
      $.messager.prompt("输入框", "请输入保存文件名.", function(filename) {
        if (filename) {
          var nowTime = new Date().toLocaleDateString();
          saveAs(blob, filename + nowTime + ".xlsx"); //文件名
        }
      });

    }

    //字符串转字符流
    function string2ArrayBuffer(s) {
      var buf = new ArrayBuffer(s.length);
      var view = new Uint8Array(buf);
      for (var i = 0; i != s.length; ++i) {
        view[i] = s.charCodeAt(i) & 0xFF;
      }
      return buf;
    }

    //将指定的自然数转换为26进制表示. 映射关系: [0-25] -> [A-Z]
    function getCharCol(n) {
      var temCol = "",
        s = "",
        m = 0;
      while (n > 0) {
        m = n % 26 + 1;
        s = String.fromCharCode(m + 64) + s;
        n = (n - m) / 26;
      }
      return s;
    }

    //2019-2-27 更改搜索条件样式

    /*上传excel的窗口打开操作*/
    function uploadidalogonline() {
      $('#uploadonlineinfo').window('open').dialog('setTitle', '文件上传');
    }

    //上传文件
    $("#uploadBtn").click(uploadonline); //方法在下
    function uploadonline() {

      // var add = '/excel/importExcel';
      var uploadFile = $("#uploadfile")[0].files[0];
      console.log(uploadFile);
      var formData = new FormData();
      formData.append("uploadFile", uploadFile);
      console.log(formData);
      // if ("undefined" != typeof(uploadFile) && uploadFile != null && uploadFile != "") {
      $.ajax({
        url: '/excel/importExcel?instance=' + "PetroleumCoke",
        type: 'POST',
        // data: {"uploadFile":formData,"instance":"石油焦"},
        data: formData,
        async: false,
        cache: false,
        contentType: false, //不设置内容类型
        processData: false, //不处理数据
        success: function(data) {
          // alert(data);
          if (data > 0) {
            $.messager.alert('操作结果', '导入数据成功');
            $("#booten").linkbutton('enable');
            $('#uploadonlineinfo').dialog('close');
            $('#dg').datagrid('reload');
          } else {
            $.messager.alert('操作结果', '导入数据失败');
            $('#uploadonlineinfo').dialog('close');
          }
        }
      })
    }
  </script>

  <script type="text/javascript" th:inline="none">
    /*指标窗口打开操作*/
    function showIndexSearchFrame() {
      $('#theIndexSearchFrame').window('open').dialog('setTitle', '指标查询');
    }

    function checkEachBox() {
      $("input[type='checkbox']").each(function() {
        if ($(this).attr('checked') == true) {
          reas += $(this).val();
          // testalert();
        }
      });
    }

    //图表和表单展示切换
    function chartAndTable() {
      window.location.href = "/easy/goods/coke_charts";
    }
  </script>

</body>

</html>
