<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tansuo365.test1.mapper.admin.EMenuMapper">
    <resultMap id="BaseResultMap" type="com.tansuo365.test1.bean.user.EMenu">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="p_id" jdbcType="INTEGER" property="p_id"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, icon, name, state, url, p_id
  </sql>

    <!--动态查询EMenu-->
    <select id="selectEMenuSelective" parameterType="com.tansuo365.test1.bean.user.EMenu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
        <where>
            <if test="id != null and id != ''">
                and id= #{id}
            </if>
            <if test="icon != null and icon != ''">
                and icon= #{icon}
            </if>
            <if test="name != null and name != ''">
                and name= #{name}
            </if>
            <if test="state != null and state != ''">
                and state= #{state}
            </if>
            <if test="url != null and url != ''">
                and url= #{url}
            </if>
            <if test="p_id != null and p_id != ''">
                and p_id= #{p_id}
            </if>
        </where>
        order by id;
    </select>

    <!--查询所有EMenu-->
    <select id="selectAllEMenu" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
    </select>

    <!--选择EMenu实例信息通过Role ID-->
    <select id="selectEMenuByRoleId" resultMap="BaseResultMap">
        select m.*
        from role r,e_menu m,role_menu rm
        where rm.role_id = r.id
        and
        rm.menu_id =m.id
        and
        r.id = #{roleId}
    </select>

    <!--选择EMenu的ID通过Role ID-->
    <!--<select id="selectEIdByRoleId" resultType="java.lang.Integer">-->
        <!--select m.id-->
        <!--from role r,e_menu m,role_menu rm-->
        <!--where rm.role_id = r.id-->
        <!--and-->
        <!--rm.menu_id =m.id-->
        <!--and-->
        <!--r.id = #{param1}-->
    <!--</select>-->

    <!--选择EMenu实例通过父节点ID-->
    <select id="selectEMenuByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
        where p_id = #{param1}
    </select>

    <select id="selectEMenuByParentIdAndRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
        where p_id = #{param1} and
        id in (select menu_id from role_menu where role_id= #{param2})
    </select>

    <!--根据ParentId和Role数组获取不重复的EMenu list集合-->
    <select id="selectEMenuByParentIdAndRoleIdArr"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
        where p_id = #{param1} and
        id in (select distinct menu_id  from role_menu where role_id in
        <foreach item="param2" index="index" collection="param2" open="(" separator="," close=")">
            #{param2}
        </foreach>)
    </select>

    <!--根据ParentId和menu_id数组获取不重复的EMenu list集合-->
    <select id="selectEMenuByParentIdAndEMenuIds"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
        where p_id = #{param1} and
        id in (select distinct menu_id from role_menu where menu_id in
        <foreach item="param2" index="index" collection="param2" open="(" separator="," close=")">
            #{param2}
        </foreach>)
    </select>

    <!--根据ParentId和menu_id获取不重复的EMenu list集合 不适用-->
    <select id="selectEMenuByParentIdAndSingleEMenuId"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_menu
        where p_id = #{param1} and
        id in
        (select distinct menu_id from role_menu where menu_id = #{param2})
    </select>

   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      delete from e_menu
      where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.bean.user.EMenu"
            useGeneratedKeys="true">
    insert into e_menu (icon, name, state, 
      url, p_id)
    values (#{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{p_id,jdbcType=INTEGER})
  </insert>

    <!--动态插入-->
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.bean.user.EMenu"
            useGeneratedKeys="false">
        insert into e_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != '' ">
                id,
            </if>
            <if test="icon != null and icon != '' ">
                icon,
            </if>
            <if test="name != null and name != '' ">
                name,
            </if>
            <if test="state != null and state != '' ">
                state,
            </if>
            <if test="url != null and url != '' ">
                url,
            </if>
            <if test="p_id != null and p_id != '' ">
                p_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != '' ">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="icon != null and icon != '' ">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != '' ">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="state != null and state != '' ">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="url != null and url != '' ">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="p_id != null and p_id != '' ">
                #{p_id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--动态更新EMenu-->
    <update id="updateByPrimaryKeySelective" parameterType="com.tansuo365.test1.bean.user.EMenu">
        update e_menu
        <set>
            <if test="id != null and id != '' ">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="icon != null and icon != '' ">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != '' ">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="state != null and state != '' ">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="url != null and url != '' ">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="p_id != null and p_id != '' ">
                p_id = #{p_id,jdbcType=INTEGER},
            </if>
        </set>

    </update>


</mapper>