<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tansuo365.test1.mapper.goods.MAsphaltMapper">
    <resultMap id="BaseResultMap" type="com.tansuo365.test1.bean.goods.MAsphalt">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="s_company" jdbcType="VARCHAR" property="s_company"/>
        <result column="softening_point" jdbcType="DOUBLE" property="softening_point"/>
        <result column="toluene" jdbcType="DOUBLE" property="toluene"/>
        <result column="quinoline" jdbcType="DOUBLE" property="quinoline"/>
        <result column="beta_resin" jdbcType="DOUBLE" property="beta_resin"/>
        <result column="coking_value" jdbcType="DOUBLE" property="coking_value"/>
        <result column="ash" jdbcType="DOUBLE" property="ash"/>
        <result column="today_price" jdbcType="DOUBLE" property="today_price"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="expand_1" jdbcType="BIT" property="expand_1"/>
        <result column="expand_2" jdbcType="BIT" property="expand_2"/>
        <result column="expand_3" jdbcType="BIT" property="expand_3"/>
        <result column="reporter" jdbcType="VARCHAR" property="reporter"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, province, company, s_company, softening_point, toluene, quinoline, beta_resin, 
    coking_value, ash, today_price, remarks, reporter, create_time, update_time
  </sql>
    <select id="selectByExample" parameterType="com.tansuo365.test1.bean.goods.MAsphaltExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from m_asphalt_tbl
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_asphalt_tbl
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--动态查询-->
    <select id="selectGoodsSelective" parameterType="com.tansuo365.test1.bean.goods.MAsphalt"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_asphalt_tbl
        <where>
            <if test="id != null and id !='' ">
                and id = #{id}
            </if>
            <if test="province != null and province !='' ">
                <bind name="provincePattern" value="'%'+province+'%'"/>
                and province like #{provincePattern}
            </if>
            <if test="company != null and company !='' ">
                <bind name="companyPattern" value="'%'+company+'%'"/>
                and company like #{companyPattern}
            </if>
            <if test="s_company != null and s_company != '' ">
                <bind name="s_companyPattern" value="'%'+s_company+'%'"/>
                and s_company like #{s_companyPattern}
            </if>
            <if test="softening_point != null and softening_point !='' ">
                and softening_point = #{softening_point}
            </if>
            <if test="toluene != null and toluene !='' ">
                and toluene = #{toluene}
            </if>
            <if test="quinoline != null and quinoline !='' ">
                and quinoline = #{quinoline}
            </if>
            <if test="beta_resin != null and beta_resin !='' ">
                and beta_resin = #{beta_resin}
            </if>
            <if test="coking_value != null and coking_value !='' ">
                and coking_value = #{coking_value}
            </if>
            <if test="ash != null and ash !='' ">
                and ash = #{ash}
            </if>
            <if test="today_price != null and today_price !='' ">
                and today_price = #{today_price}
            </if>
            <if test="remarks != null and remarks !='' ">
                <bind name="remarksPattern" value="'%'+remarks+'%'"/>
                and remarks like #{remarksPattern}
            </if>
            <if test="reporter != null and reporter != '' ">
                <bind name="reporterPattern" value="'%'+reporter+'%'"/>
                and reporter like #{reporterPattern}
            </if>
            <if test="create_time != null and create_time !='' ">
                and create_time = #{create_time}
            </if>
            <if test="update_time != null and update_time !='' ">
                and update_time = #{update_time}
            </if>
            <if test="b_time != null and b_time != '' ">
                and create_time &gt;= #{b_time}
            </if>
            <if test="e_time != null and e_time != '' ">
                and create_time &lt;= #{e_time}
            </if>
            <if test="s_softening_point != null and s_softening_point != '' ">
                and softening_point ${s_softening_point}
            </if>
            <if test="s_toluene != null and s_toluene != '' ">
                and toluene ${s_toluene}
            </if>
            <if test="s_quinoline != null and s_quinoline != '' ">
                and quinoline ${s_quinoline}
            </if>
            <if test="s_beta_resin != null and s_beta_resin != '' ">
                and beta_resin ${s_beta_resin}
            </if>
            <if test="s_coking_value != null and s_coking_value != '' ">
                and coking_value ${s_coking_value}
            </if>
            <if test="s_ash != null and s_ash != '' ">
                and ash ${s_ash}
            </if>
            <if test="s_today_price != null and s_today_price != '' ">
                and today_price ${s_today_price}
            </if>
        </where>
        <if test="order != 0 and order != '' ">
            order by create_time DESC
        </if>
    </select>

    <!--查询所有-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from m_asphalt_tbl
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from m_asphalt_tbl
        where id = #{id,jdbcType=BIGINT}
  </delete>

    <delete id="deleteByExample" parameterType="com.tansuo365.test1.bean.goods.MAsphaltExample">
        delete from m_asphalt_tbl
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <!--批量删除-->
    <delete id="deleteBatchByPKArr" parameterType="java.lang.String">
        delete from m_asphalt_tbl
        where id in
        <foreach item="ids" index="index" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.bean.goods.MAsphalt"
            useGeneratedKeys="true">
    insert into m_asphalt_tbl (province, company, s_company, 
      softening_point, toluene, quinoline, 
      beta_resin, coking_value, ash, 
      today_price, remarks, create_time, 
      update_time, expand_1, expand_2, 
      expand_3, reporter)
    values (#{province,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{s_company,jdbcType=VARCHAR}, 
      #{softening_point,jdbcType=DOUBLE}, #{toluene,jdbcType=DOUBLE}, #{quinoline,jdbcType=DOUBLE}, 
      #{beta_resin,jdbcType=DOUBLE}, #{coking_value,jdbcType=DOUBLE}, #{ash,jdbcType=DOUBLE}, 
      #{today_price,jdbcType=DOUBLE}, #{remarks,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{expand_1,jdbcType=BIT}, #{expand_2,jdbcType=BIT}, 
      #{expand_3,jdbcType=BIT}, #{reporter,jdbcType=VARCHAR})
  </insert>

    <!--批量插入list-->
    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
        insert into m_asphalt_tbl (province, company, s_company,
        softening_point, toluene, quinoline,
        beta_resin, coking_value, ash,
        today_price,remarks,reporter,
        create_time,update_time
        )
        values
        <foreach collection="list" item="list" index="index" separator=",">
            (#{list.province,jdbcType=VARCHAR}, #{list.company,jdbcType=VARCHAR}, #{list.s_company,jdbcType=VARCHAR},
            #{list.softening_point,jdbcType=DOUBLE}, #{list.toluene,jdbcType=DOUBLE}, #{list.quinoline,jdbcType=DOUBLE},
            #{list.beta_resin,jdbcType=DOUBLE}, #{list.coking_value,jdbcType=DOUBLE}, #{list.ash,jdbcType=DOUBLE},
            #{list.today_price,jdbcType=DOUBLE}, #{list.remarks,jdbcType=VARCHAR}, #{list.reporter,jdbcType=VARCHAR},
            #{list.create_time,jdbcType=TIMESTAMP},#{list.update_time,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!--动态增加-->
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.bean.goods.MAsphalt"
            useGeneratedKeys="true">
        insert into m_asphalt_tbl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="province != null and province != '' ">
                province,
            </if>
            <if test="company != null and company != '' ">
                company,
            </if>
            <if test="s_company != null and s_company != '' ">
                s_company,
            </if>
            <if test="softening_point != null and softening_point != '' ">
                softening_point,
            </if>
            <if test="toluene != null and toluene != '' ">
                toluene,
            </if>
            <if test="quinoline != null and quinoline != '' ">
                quinoline,
            </if>
            <if test="beta_resin != null and beta_resin != '' ">
                beta_resin,
            </if>
            <if test="coking_value != null and coking_value != '' ">
                coking_value,
            </if>
            <if test="ash != null and ash != '' ">
                ash,
            </if>
            <if test="today_price != null and today_price != '' ">
                today_price,
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks,
            </if>
            <if test="reporter != null and reporter != '' ">
                reporter,
            </if>
            <if test="create_time != null and create_time != '' ">
                create_time,
            </if>
            <if test="update_time != null and update_time != '' ">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="province != null and province != '' ">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="company != null and company != '' ">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="s_company != null and s_company != '' ">
                #{s_company,jdbcType=VARCHAR},
            </if>
            <if test="softening_point != null and softening_point != '' ">
                #{softening_point,jdbcType=DOUBLE},
            </if>
            <if test="toluene != null and toluene != '' ">
                #{toluene,jdbcType=DOUBLE},
            </if>
            <if test="quinoline != null and quinoline != '' ">
                #{quinoline,jdbcType=DOUBLE},
            </if>
            <if test="beta_resin != null and beta_resin != '' ">
                #{beta_resin,jdbcType=DOUBLE},
            </if>
            <if test="coking_value != null and coking_value != '' ">
                #{coking_value,jdbcType=DOUBLE},
            </if>
            <if test="ash != null and ash != '' ">
                #{ash,jdbcType=DOUBLE},
            </if>
            <if test="today_price != null and today_price != '' ">
                #{today_price,jdbcType=DOUBLE},
            </if>
            <if test="remarks != null and remarks != '' ">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="reporter != null and reporter != '' ">
                #{reporter,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null and create_time != '' ">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null and update_time != '' ">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <select id="countByExample" parameterType="com.tansuo365.test1.bean.goods.MAsphaltExample"
            resultType="java.lang.Long">
        select count(*) from m_asphalt_tbl
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update m_asphalt_tbl
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.province != null">
                province = #{record.province,jdbcType=VARCHAR},
            </if>
            <if test="record.company != null">
                company = #{record.company,jdbcType=VARCHAR},
            </if>
            <if test="record.s_company != null">
                s_company = #{record.s_company,jdbcType=VARCHAR},
            </if>
            <if test="record.softening_point != null">
                softening_point = #{record.softening_point,jdbcType=DOUBLE},
            </if>
            <if test="record.toluene != null">
                toluene = #{record.toluene,jdbcType=DOUBLE},
            </if>
            <if test="record.quinoline != null">
                quinoline = #{record.quinoline,jdbcType=DOUBLE},
            </if>
            <if test="record.beta_resin != null">
                beta_resin = #{record.beta_resin,jdbcType=DOUBLE},
            </if>
            <if test="record.coking_value != null">
                coking_value = #{record.coking_value,jdbcType=DOUBLE},
            </if>
            <if test="record.ash != null">
                ash = #{record.ash,jdbcType=DOUBLE},
            </if>
            <if test="record.today_price != null">
                today_price = #{record.today_price,jdbcType=DOUBLE},
            </if>
            <if test="record.remarks != null">
                remarks = #{record.remarks,jdbcType=VARCHAR},
            </if>
            <if test="record.create_time != null">
                create_time = #{record.create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.update_time != null">
                update_time = #{record.update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.expand_1 != null">
                expand_1 = #{record.expand_1,jdbcType=BIT},
            </if>
            <if test="record.expand_2 != null">
                expand_2 = #{record.expand_2,jdbcType=BIT},
            </if>
            <if test="record.expand_3 != null">
                expand_3 = #{record.expand_3,jdbcType=BIT},
            </if>
            <if test="record.reporter != null">
                reporter = #{record.reporter,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update m_asphalt_tbl
        set id = #{record.id,jdbcType=BIGINT},
        province = #{record.province,jdbcType=VARCHAR},
        company = #{record.company,jdbcType=VARCHAR},
        s_company = #{record.s_company,jdbcType=VARCHAR},
        softening_point = #{record.softening_point,jdbcType=DOUBLE},
        toluene = #{record.toluene,jdbcType=DOUBLE},
        quinoline = #{record.quinoline,jdbcType=DOUBLE},
        beta_resin = #{record.beta_resin,jdbcType=DOUBLE},
        coking_value = #{record.coking_value,jdbcType=DOUBLE},
        ash = #{record.ash,jdbcType=DOUBLE},
        today_price = #{record.today_price,jdbcType=DOUBLE},
        remarks = #{record.remarks,jdbcType=VARCHAR},
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
        expand_1 = #{record.expand_1,jdbcType=BIT},
        expand_2 = #{record.expand_2,jdbcType=BIT},
        expand_3 = #{record.expand_3,jdbcType=BIT},
        reporter = #{record.reporter,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <!--动态更新-->
    <update id="updateByPrimaryKeySelective" parameterType="com.tansuo365.test1.bean.goods.MAsphalt">
        update m_asphalt_tbl
        <set>
            <if test="province != null and province != '' ">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="company != null and company != '' ">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="s_company != null and s_company != '' ">
                s_company = #{s_company,jdbcType=VARCHAR},
            </if>
            <if test="softening_point != null and softening_point != '' ">
                softening_point = #{softening_point,jdbcType=DOUBLE},
            </if>
            <if test="toluene != null and toluene != '' ">
                toluene = #{toluene,jdbcType=DOUBLE},
            </if>
            <if test="quinoline != null and quinoline != '' ">
                quinoline = #{quinoline,jdbcType=DOUBLE},
            </if>
            <if test="beta_resin != null and beta_resin != '' ">
                beta_resin = #{beta_resin,jdbcType=DOUBLE},
            </if>
            <if test="coking_value != null and coking_value != '' ">
                coking_value = #{coking_value,jdbcType=DOUBLE},
            </if>
            <if test="ash != null and ash != '' ">
                ash = #{ash,jdbcType=DOUBLE},
            </if>
            <if test="today_price != null and today_price != '' ">
                today_price = #{today_price,jdbcType=DOUBLE},
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="reporter != null and reporter != '' ">
                reporter = #{reporter,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null and create_time != '' ">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null and update_time != '' ">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.tansuo365.test1.bean.goods.MAsphalt">
    update m_asphalt_tbl
    set province = #{province,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      s_company = #{s_company,jdbcType=VARCHAR},
      softening_point = #{softening_point,jdbcType=DOUBLE},
      toluene = #{toluene,jdbcType=DOUBLE},
      quinoline = #{quinoline,jdbcType=DOUBLE},
      beta_resin = #{beta_resin,jdbcType=DOUBLE},
      coking_value = #{coking_value,jdbcType=DOUBLE},
      ash = #{ash,jdbcType=DOUBLE},
      today_price = #{today_price,jdbcType=DOUBLE},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      expand_1 = #{expand_1,jdbcType=BIT},
      expand_2 = #{expand_2,jdbcType=BIT},
      expand_3 = #{expand_3,jdbcType=BIT},
      reporter = #{reporter,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>