<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tansuo365.test1.mapper.goods.PetroleumCokeMapper">
    <resultMap id="BaseResultMap" type="com.tansuo365.test1.bean.goods.PetroleumCoke">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="s_company" jdbcType="VARCHAR" property="s_company"/>
        <result column="sulfur" jdbcType="DOUBLE" property="sulfur"/>
        <result column="ash" jdbcType="DOUBLE" property="ash"/>
        <result column="volatile_matter" jdbcType="DOUBLE" property="volatile_matter"/>
        <result column="wdr" jdbcType="DOUBLE" property="wdr"/>
        <result column="vanadium" jdbcType="DOUBLE" property="vanadium"/>
        <result column="coke_type" jdbcType="VARCHAR" property="coke_type"/>
        <result column="today_price" jdbcType="DOUBLE" property="today_price"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="expand_2" jdbcType="BIT" property="expand_2"/>
        <result column="expand_3" jdbcType="BIT" property="expand_3"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="density" jdbcType="DOUBLE" property="density"/>
        <result column="coke_content" jdbcType="DOUBLE" property="coke_content"/>
        <result column="reporter" jdbcType="VARCHAR" property="reporter"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, province, company, s_company, sulfur, ash, volatile_matter, wdr, vanadium, coke_type, 
    today_price, remarks, grade, /*expand_2, expand_3,*/ reporter,create_time, update_time, density,
    coke_content
  </sql>
    <select id="selectByExample" parameterType="com.tansuo365.test1.bean.goods.PetroleumCokeExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from petroleum_coke_tbl
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from petroleum_coke_tbl
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--查询所有-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from petroleum_coke_tbl
    </select>

    <!--动态查询-->
    <select id="selectGoodsSelective" parameterType="com.tansuo365.test1.bean.goods.PetroleumCoke"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from petroleum_coke_tbl
        <where>
            <if test="id != null and id !='' ">
                and id = #{id}
            </if>
            <if test="province != null and province !='' ">
                and province = #{province}
            </if>
            <if test="company != null and company !='' ">
                and company = #{company}
            </if>
            <if test="s_company != null and s_company != '' ">
                and s_company = #{s_company}
            </if>
            <if test="sulfur != null and sulfur !='' ">
                and sulfur = #{sulfur}
            </if>
            <if test="ash != null and ash !='' ">
                and ash = #{ash}
            </if>
            <if test="volatile_matter != null and volatile_matter !='' ">
                and volatile_matter = #{volatile_matter}
            </if>
            <if test="wdr != null and wdr !='' ">
                and wdr = #{wdr}
            </if>
            <if test="vanadium != null and vanadium !='' ">
                and vanadium = #{vanadium}
            </if>
            <if test="coke_type != null and coke_type !='' ">
                and coke_type = #{coke_type}
            </if>
            <if test="today_price != null and today_price !='' ">
                and today_price = #{today_price}
            </if>
            <if test="remarks != null and remarks !='' ">
                and remarks = #{remarks}
            </if>
            <if test="reporter != null and reporter !='' ">
                and reporter = #{reporter}
            </if>
            <if test="grade !=null and grade != '' ">
                and grade = #{grade}
            </if>
            <if test="create_time != null and create_time !='' ">
                and create_time = #{create_time}
            </if>
            <if test="update_time != null and update_time !='' ">
                and update_time = #{update_time}
            </if>
            <if test="density != null and density != '' ">
                and density = #{density}
            </if>
            <if test="coke_content != null and coke_content != '' ">
                and coke_content = #{coke_content}
            </if>
            <if test="b_time != null and b_time != '' ">
                create_time &gt;= #{b_time}
            </if>
            <if test="e_time != null and e_time != '' ">
                and create_time &lt;= #{e_time}
            </if>
            <if test="s_sulfur != null and s_sulfur != '' ">
                and sulfur ${s_sulfur}
            </if>
            <if test="s_ash != null and s_ash != '' ">
                and ash ${s_ash}
            </if>
            <if test="s_volatile_matter != null and s_volatile_matter != '' ">
                and volatile_matter ${s_volatile_matter}
            </if>
            <if test="s_wdr != null and s_wdr != '' ">
                and wdr ${s_wdr}
            </if>
            <if test="s_vanadium != null and s_vanadium != '' ">
                and vanadium ${s_vanadium}
            </if>
            <if test="s_density != null and s_density != '' ">
                and density ${s_density}
            </if>
            <if test="s_coke_content != null and s_coke_content != '' ">
                and coke_content ${s_coke_content}
            </if>
            <if test="s_today_price != null and s_today_price != '' ">
                and today_price ${s_today_price}
            </if>
        </where>
        <if test="order != 0 and order != '' ">
            order by create_time DESC
        </if>
    </select>

    <!--根据主键删除元组-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from petroleum_coke_tbl
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <!--批量删除-->
    <delete id="deleteBatchByPKArr" parameterType="java.lang.String">
        delete from petroleum_coke_tbl
        where id in
        <foreach item="ids" index="index" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>


    <delete id="deleteByExample" parameterType="com.tansuo365.test1.bean.goods.PetroleumCokeExample">
        delete from petroleum_coke_tbl
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.bean.goods.PetroleumCoke"
            useGeneratedKeys="true">
    insert into petroleum_coke_tbl (province, company, s_company,
      sulfur, ash, volatile_matter, 
      wdr, vanadium, coke_type, 
      today_price, remarks, grade, reporter,
      create_time,
      update_time, density, coke_content
      )
    values (#{province,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{s_company,jdbcType=VARCHAR}, 
      #{sulfur,jdbcType=DOUBLE}, #{ash,jdbcType=DOUBLE}, #{volatile_matter,jdbcType=DOUBLE}, 
      #{wdr,jdbcType=DOUBLE}, #{vanadium,jdbcType=DOUBLE}, #{coke_type,jdbcType=VARCHAR}, 
      #{today_price,jdbcType=DOUBLE}, #{remarks,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{reporter}, #{create_time,jdbcType=TIMESTAMP},
      #{update_time,jdbcType=TIMESTAMP}, #{density,jdbcType=DOUBLE}, #{coke_content,jdbcType=DOUBLE}
      )
  </insert>

    <!--动态插入数据-->
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.bean.goods.PetroleumCoke"
            useGeneratedKeys="true">
        insert into petroleum_coke_tbl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="province != null and province != '' ">
                province,
            </if>
            <if test="company != null and company != '' ">
                company,
            </if>
            <if test="s_company != null and s_company != '' ">
                s_company,
            </if>
            <if test="sulfur != null and sulfur != '' ">
                sulfur,
            </if>
            <if test="ash != null and ash != '' ">
                ash,
            </if>
            <if test="volatile_matter != null and volatile_matter != '' ">
                volatile_matter,
            </if>
            <if test="wdr != null and wdr != '' ">
                wdr,
            </if>
            <if test="vanadium != null and vanadium != '' ">
                vanadium,
            </if>
            <if test="coke_type != null and coke_type != '' ">
                coke_type,
            </if>
            <if test="today_price != null and today_price != '' ">
                today_price,
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks,
            </if>
            <if test="reporter != null and reporter != '' ">
                reporter,
            </if>
            <if test="grade != null and grade != '' ">
                grade,
            </if>
            <if test="create_time != null and create_time != '' ">
                create_time,
            </if>
            <if test="update_time != null and update_time != '' ">
                update_time,
            </if>
            <if test="density != null and density != '' ">
                density,
            </if>
            <if test="coke_content != null and coke_content != '' ">
                coke_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="province != null and province != '' ">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="company != null and company != '' ">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="s_company != null and s_company != '' ">
                #{s_company,jdbcType=VARCHAR},
            </if>
            <if test="sulfur != null and sulfur != '' ">
                #{sulfur,jdbcType=DOUBLE},
            </if>
            <if test="ash != null and ash != '' ">
                #{ash,jdbcType=DOUBLE},
            </if>
            <if test="volatile_matter != null and volatile_matter != '' ">
                #{volatile_matter,jdbcType=DOUBLE},
            </if>
            <if test="wdr != null and wdr != '' ">
                #{wdr,jdbcType=DOUBLE},
            </if>
            <if test="vanadium != null and vanadium != '' ">
                #{vanadium,jdbcType=VARCHAR},
            </if>
            <if test="coke_type != null and coke_type != '' ">
                #{coke_type,jdbcType=VARCHAR},
            </if>
            <if test="today_price != null and today_price != '' ">
                #{today_price,jdbcType=DOUBLE},
            </if>
            <if test="remarks != null and remarks != '' ">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="reporter != null and reporter != '' ">
                #{reporter},
            </if>
            <if test="grade != null and grade != '' ">
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null and create_time != '' ">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null and update_time != '' ">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="density != null and density != '' ">
                #{density,jdbcType=DOUBLE},
            </if>
            <if test="coke_content != null and coke_content != '' ">
                #{coke_content,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>

    <!--批量插入list-->
    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
        insert into petroleum_coke_tbl (province, company, s_company,
        sulfur, ash, volatile_matter,
        wdr, vanadium, coke_type,
        today_price, remarks, reporter, grade, create_time,
        update_time, density, coke_content
        )
        values
        <foreach collection="list" item="list" index="index" separator=",">
            (
            #{list.province,jdbcType=VARCHAR}, #{list.company,jdbcType=VARCHAR}, #{list.s_company,jdbcType=VARCHAR},
            #{list.sulfur,jdbcType=DOUBLE}, #{list.ash,jdbcType=DOUBLE}, #{list.volatile_matter,jdbcType=DOUBLE},
            #{list.wdr,jdbcType=DOUBLE}, #{list.vanadium,jdbcType=DOUBLE}, #{list.coke_type,jdbcType=VARCHAR},
            #{list.today_price,jdbcType=DOUBLE}, #{list.remarks,jdbcType=VARCHAR}, #{list.reporter,jdbcType=VARCHAR},#{list.grade,jdbcType=VARCHAR},
            #{list.create_time,jdbcType=TIMESTAMP}, #{list.update_time,jdbcType=TIMESTAMP},
            #{list.density,jdbcType=DOUBLE},#{list.coke_content,jdbcType=DOUBLE}
            )
        </foreach>
    </insert>


    <!--动态批量插入数据unused-->
    <insert id="insertBatchSelective1" keyColumn="id" keyProperty="id" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into petroleum_coke_tbl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="province != null and province != '' ">
                province,
            </if>
            <if test="company != null and company != '' ">
                company,
            </if>
            <if test="s_company != null and s_company != '' ">
                s_company,
            </if>
            <if test="sulfur != null and sulfur != '' ">
                sulfur,
            </if>
            <if test="ash != null and ash != '' ">
                ash,
            </if>
            <if test="volatile_matter != null and volatile_matter != '' ">
                volatile_matter,
            </if>
            <if test="wdr != null and wdr != '' ">
                wdr,
            </if>
            <if test="vanadium != null and vanadium != '' ">
                vanadium,
            </if>
            <if test="coke_type != null and coke_type != '' ">
                coke_type,
            </if>
            <if test="today_price != null and today_price != '' ">
                today_price,
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks,
            </if>
            <if test="grade != null and grade != '' ">
                grade,
            </if>
            <if test="expand_2 != null">
                expand_2,
            </if>
            <if test="expand_3 != null">
                expand_3,
            </if>
            <if test="create_time != null and create_time != '' ">
                create_time,
            </if>
            <if test="update_time != null and update_time != '' ">
                update_time,
            </if>
            <if test="density != null and density != '' ">
                density,
            </if>
            <if test="coke_content != null and coke_content != '' ">
                coke_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="list" index="index" separator=",">
                <if test="province != null and province != '' ">
                    #{province,jdbcType=VARCHAR},
                </if>
                <if test="company != null and company != '' ">
                    #{company,jdbcType=VARCHAR},
                </if>
                <if test="s_company != null and s_company != '' ">
                    #{s_company,jdbcType=VARCHAR},
                </if>
                <if test="sulfur != null and sulfur != '' ">
                    #{sulfur,jdbcType=DOUBLE},
                </if>
                <if test="ash != null and ash != '' ">
                    #{ash,jdbcType=DOUBLE},
                </if>
                <if test="volatile_matter != null and volatile_matter != '' ">
                    #{volatile_matter,jdbcType=DOUBLE},
                </if>
                <if test="wdr != null and wdr != '' ">
                    #{wdr,jdbcType=DOUBLE},
                </if>
                <if test="vanadium != null and vanadium != '' ">
                    #{vanadium,jdbcType=VARCHAR},
                </if>
                <if test="coke_type != null and coke_type != '' ">
                    #{coke_type,jdbcType=VARCHAR},
                </if>
                <if test="today_price != null and today_price != '' ">
                    #{today_price,jdbcType=DOUBLE},
                </if>
                <if test="remarks != null and remarks != '' ">
                    #{remarks,jdbcType=VARCHAR},
                </if>
                <if test="grade != null and grade != '' ">
                    #{grade,jdbcType=VARCHAR},
                </if>
                <if test="expand_2 != null">
                    #{expand_2,jdbcType=TINYINT},
                </if>
                <if test="expand_3 != null">
                    #{expand_3,jdbcType=TINYINT},
                </if>
                <if test="create_time != null and create_time != '' ">
                    #{create_time,jdbcType=TIMESTAMP},
                </if>
                <if test="update_time != null and update_time != '' ">
                    #{update_time,jdbcType=TIMESTAMP},
                </if>
                <if test="density != null and density != '' ">
                    #{density,jdbcType=DOUBLE},
                </if>
                <if test="coke_content != null and coke_content != '' ">
                    #{coke_content,jdbcType=DOUBLE},
                </if>
            </foreach>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.tansuo365.test1.bean.goods.PetroleumCokeExample"
            resultType="java.lang.Long">
        select count(*) from petroleum_coke_tbl
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update petroleum_coke_tbl
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.province != null">
                province = #{record.province,jdbcType=VARCHAR},
            </if>
            <if test="record.company != null">
                company = #{record.company,jdbcType=VARCHAR},
            </if>
            <if test="record.s_company != null">
                s_company = #{record.s_company,jdbcType=VARCHAR},
            </if>
            <if test="record.sulfur != null">
                sulfur = #{record.sulfur,jdbcType=DOUBLE},
            </if>
            <if test="record.ash != null">
                ash = #{record.ash,jdbcType=DOUBLE},
            </if>
            <if test="record.volatile_matter != null">
                volatile_matter = #{record.volatile_matter,jdbcType=DOUBLE},
            </if>
            <if test="record.wdr != null">
                wdr = #{record.wdr,jdbcType=DOUBLE},
            </if>
            <if test="record.vanadium != null">
                vanadium = #{record.vanadium,jdbcType=DOUBLE},
            </if>
            <if test="record.coke_type != null">
                coke_type = #{record.coke_type,jdbcType=VARCHAR},
            </if>
            <if test="record.today_price != null">
                today_price = #{record.today_price,jdbcType=DOUBLE},
            </if>
            <if test="record.remarks != null">
                remarks = #{record.remarks,jdbcType=VARCHAR},
            </if>
            <if test="record.grade != null">
                grade = #{record.grade,jdbcType=VARCHAR},
            </if>
            <if test="record.expand_2 != null">
                expand_2 = #{record.expand_2,jdbcType=BIT},
            </if>
            <if test="record.expand_3 != null">
                expand_3 = #{record.expand_3,jdbcType=BIT},
            </if>
            <if test="record.create_time != null">
                create_time = #{record.create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.update_time != null">
                update_time = #{record.update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="record.density != null">
                density = #{record.density,jdbcType=DOUBLE},
            </if>
            <if test="record.coke_content != null">
                coke_content = #{record.coke_content,jdbcType=DOUBLE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update petroleum_coke_tbl
        set id = #{record.id,jdbcType=VARCHAR},
        province = #{record.province,jdbcType=VARCHAR},
        company = #{record.company,jdbcType=VARCHAR},
        s_company = #{record.s_company,jdbcType=VARCHAR},
        sulfur = #{record.sulfur,jdbcType=DOUBLE},
        ash = #{record.ash,jdbcType=DOUBLE},
        volatile_matter = #{record.volatile_matter,jdbcType=DOUBLE},
        wdr = #{record.wdr,jdbcType=DOUBLE},
        vanadium = #{record.vanadium,jdbcType=DOUBLE},
        coke_type = #{record.coke_type,jdbcType=VARCHAR},
        today_price = #{record.today_price,jdbcType=DOUBLE},
        remarks = #{record.remarks,jdbcType=VARCHAR},
        grade = #{record.grade,jdbcType=VARCHAR},
        expand_2 = #{record.expand_2,jdbcType=BIT},
        expand_3 = #{record.expand_3,jdbcType=BIT},
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
        density = #{record.density,jdbcType=DOUBLE},
        coke_content = #{record.coke_content,jdbcType=DOUBLE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <!--动态更新数据-->
    <update id="updateByPrimaryKeySelective" parameterType="com.tansuo365.test1.bean.goods.PetroleumCoke">
        update petroleum_coke_tbl
        <set>
            <if test="province != null and province != '' ">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="company != null and company != '' ">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="s_company != null and s_company != '' ">
                s_company = #{s_company,jdbcType=VARCHAR},
            </if>
            <if test="sulfur != null and sulfur != '' ">
                sulfur = #{sulfur,jdbcType=DOUBLE},
            </if>
            <if test="ash != null and ash != '' ">
                ash = #{ash,jdbcType=DOUBLE},
            </if>
            <if test="volatile_matter != null and volatile_matter != '' ">
                volatile_matter = #{volatile_matter,jdbcType=DOUBLE},
            </if>
            <if test="wdr != null and wdr != '' ">
                wdr = #{wdr,jdbcType=DOUBLE},
            </if>
            <if test="vanadium != null and vanadium != '' ">
                vanadium = #{vanadium,jdbcType=VARCHAR},
            </if>
            <if test="coke_type != null and coke_type != '' ">
                coke_type = #{coke_type,jdbcType=VARCHAR},
            </if>
            <if test="today_price != null and today_price != '' ">
                today_price = #{today_price,jdbcType=DOUBLE},
            </if>
            <if test="remarks != null and remarks != '' ">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="reporter != null and reporter != '' ">
                reporter = #{reporter,jdbcType=VARCHAR},
            </if>
            <if test="grade != null and grade != '' ">
                grade = #{grade,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null and create_time != '' ">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null and update_time != '' ">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="density != null and density != '' ">
                density = #{density,jdbcType=DOUBLE},
            </if>
            <if test="coke_content != null and coke_content != '' ">
                coke_content = #{coke_content,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--更改grade品级-->
    <update id="updateGradeByPrimaryKey">
    update petroleum_coke_tbl
    set grade = #{grade,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="updateByPrimaryKey" parameterType="com.tansuo365.test1.bean.goods.PetroleumCoke">
    update petroleum_coke_tbl
    set province = #{province,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      s_company = #{s_company,jdbcType=VARCHAR},
      sulfur = #{sulfur,jdbcType=DOUBLE},
      ash = #{ash,jdbcType=DOUBLE},
      volatile_matter = #{volatile_matter,jdbcType=DOUBLE},
      wdr = #{wdr,jdbcType=DOUBLE},
      vanadium = #{vanadium,jdbcType=DOUBLE},
      coke_type = #{coke_type,jdbcType=VARCHAR},
      today_price = #{today_price,jdbcType=DOUBLE},
      remarks = #{remarks,jdbcType=VARCHAR},
      reporter = #{reporter,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      density = #{density,jdbcType=DOUBLE},
      coke_content = #{coke_content,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>