<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tansuo365.test1.mapper.TaskSimJobMapper">
  <resultMap id="BaseResultMap" type="com.tansuo365.test1.entity.TaskSimJob">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="interval_time" jdbcType="INTEGER" property="interval_time" />
    <result column="job_class_name" jdbcType="VARCHAR" property="job_class_name" />
    <result column="job_description" jdbcType="VARCHAR" property="job_description" />
    <result column="job_name" jdbcType="VARCHAR" property="job_name" />
    <result column="job_number" jdbcType="VARCHAR" property="job_number" />
  </resultMap>

  <sql id="Base_Column_List">
    id, enabled, interval_time, job_class_name, job_description, job_name, job_number
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_sim_job
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_sim_job
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tansuo365.test1.entity.TaskSimJob" useGeneratedKeys="true">
    insert into task_sim_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enabled != null">
        enabled,
      </if>
      <if test="interval_time != null">
        interval_time,
      </if>
      <if test="job_class_name != null">
        job_class_name,
      </if>
      <if test="job_description != null">
        job_description,
      </if>
      <if test="job_name != null">
        job_name,
      </if>
      <if test="job_number != null">
        job_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="interval_time != null">
        #{interval_time,jdbcType=INTEGER},
      </if>
      <if test="job_class_name != null">
        #{job_class_name,jdbcType=VARCHAR},
      </if>
      <if test="job_description != null">
        #{job_description,jdbcType=VARCHAR},
      </if>
      <if test="job_name != null">
        #{job_name,jdbcType=VARCHAR},
      </if>
      <if test="job_number != null">
        #{job_number,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.tansuo365.test1.entity.TaskSimJob">
    update task_sim_job
    <set>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="interval_time != null">
        interval_time = #{interval_time,jdbcType=INTEGER},
      </if>
      <if test="job_class_name != null">
        job_class_name = #{job_class_name,jdbcType=VARCHAR},
      </if>
      <if test="job_description != null">
        job_description = #{job_description,jdbcType=VARCHAR},
      </if>
      <if test="job_name != null">
        job_name = #{job_name,jdbcType=VARCHAR},
      </if>
      <if test="job_number != null">
        job_number = #{job_number,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>