<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tansuo365 index</title>
</head>
<body>

<p>用户登录</p>
<form action="/user/login">
    <input type="text" name="username"/>
    <input type="text" name="password"/>
    <input type="submit" value="登录" />
</form>

<p>form</p>
<a href="/demo/formstyle">form表单注册/登录样式(验证样式)</a> <br>
<p>echarts</p>
<!--<a href="/demo/echarts">图表展示demo</a> <br>-->
<a href="/demo/echarts1">图表展示demo1</a> <br>
<!--<a href="/demo/echarts2">图表展示demo2</a> <br>-->
<!--<a href="/demo/echarts3">图表展示demo3</a> <br>-->

<a href="/demo/test1">测试index</a> <br>



</body>
</html>