<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<title>thymeleaf公共资源</title>-->
    <!--/*@thymesVar id="title" type="com"*/-->
    <title th:text="${title}"></title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //custom-theme -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/slicebox.css" rel="stylesheet" type="text/css">
    <link href="css/style_bigf.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/se.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/blog.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway:100i,200,200i,300,400,500,500i,600,700,700i,800,800i"
          rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="/js/getParam.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/jquery.serializejson.js"></script>
    <script src="/js/china.js"></script>
    <style>
        .chart {
            width: 100%;
            height: 120%;
            left: 20px;
            position: absolute;
        }
    </style>
    <script th:inline="none">
        /*会员登出*/
        $("#logoutBtn").click(doLogout);

        function doLogout() {
            $.ajax({
                url: "/member/doLogout",
                type: "post",
                success: function (data) {
                    window.location.reload();
                }
            })
        }
    </script>

</head>
<body>




</body>
</html>
