<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>ueditor demo</title>

    <!--配置文件-->
    <script type="text/javascript" src="ueditor.config.js"></script>
    <!--编辑器源码文件-->
    <script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
    <script src="/ueditor/ueditor.parse.min.js"></script>
    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/jquery.serializejson.js"></script>

</head>
<body>
    <!--加载编辑器的容器-->
    <script id="container" name="content" type="text/plain"></script>

<button id="formBtn">提交</button>



<!--实例化编辑器-->
<script type="text/javascript">
    var ue = UE.getEditor('container',{
        //工具栏上的所有的功能按钮和下拉框,可以在new编辑器的实例时选择自己需要的从新定义
        autoHeightEnabled: true, //设置自动长高
        scaleEnabled: true, //是否可以拉伸长高，默认true(当开启时，自动长高失效)
        autoFloatEnabled: false,  //自动浮动,false能适应全部宽度,是否保持toolbar的位置不动，默认true
        initialContent: '请在这里输入要编辑的内容', //富文本提示内容
        autoClearinitialContent: true, //聚焦富文本后清空提示内容
        enableAutoSave: true, //启用自动保存
        imageScaleEnabled: true, //启动图片拉伸缩放
        pasteplain: true, //启用纯文本粘贴
        allHtmlEnabled: false, //提交到后台的数据是否包含整个html字符串
        autoTransWordToList: true, // [默认值：false] //禁止word中粘贴进来的列表自动变成列表标签
        enableContextMenu: true, //右键功能菜单
        maximumWords: 10001, //允许的最大字符数
        tabSize: 4, //点击tab键时移动的距离，tabSize倍数，tabNode什么字符做为单位
        tabNode: '&nbsp;', //tab使用的单位,空格
        tableDragable: true, //表格是否可以拖拽
        sourceEditor: "codemirror",  //源码的查看方式，codemirror是代码高亮，textarea是文本框，默认是codemirror，注意默认codemirror只能在ie8+和非ie中使用

    });
</script>


<script>

    $("#formBtn").click(editorSubmit);

    function editorSubmit(){
        // alert("content:"+(UE.getEditor('editor').getContent()));
        $.ajax({
            url:"/editorData",
            type:"POST",
            // data:$("#editor").serializeJSON(),
            data:{"content":UE.getEditor('container').getContent()},
            dataType:"json",
            success:function(data){
                alert(data);
            }
        });
    }

</script>


</body>
</html>