<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--指定公共引入页面,引入静态资源-->
<head th:include="front/common/common_static">
</head>

<body>

<!--引入公有banner导航-->
<div th:include="front/common/common_banner::banner_"></div>
<!--引入公有的登录注册弹出框-->
<div th:include="front/common/common_login_signup::login_signup_"></div>

    <!-- banner -->
    <div class="agile_inner_banner_info">
        <h2>网站地图</h2>
        <p>业内行情了如指掌</p>
    </div>
    <!-- 网站地图 -->
    <div class="wrap-sitemap">
        <div class="container main-sitemap">
            <div class="cont-sitemap">
                <h3>·大导航</h3>
                <ul class="ulcont-sitemap">
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                </ul>
            </div>

            <div class="cont-sitemap">
                <h3>·大导航</h3>
                <ul class="ulcont-sitemap">
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                </ul>
            </div>

            <div class="cont-sitemap">
                <h3>·大导航</h3>
                <ul class="ulcont-sitemap">
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                </ul>
            </div>

            <div class="cont-sitemap">
                <h3>·大导航</h3>
                <ul class="ulcont-sitemap">
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                </ul>
            </div>

            <div class="cont-sitemap">
                <h3>·大导航</h3>
                <ul class="ulcont-sitemap">
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                    <li>
                        <a href="#">导航</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

<script src="js/bootstrap.js"></script>
</body>

</html>