<!DOCTYPE html>

<!--https://echarts.baidu.com/examples/-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>

    <!--<script src="/js/jquery-3.1.0.min.js"></script>-->

    <!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
    <!--<script src="/js/echarts_4.1.0.rc2_echarts.min.js"></script>-->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

    <!--<script src="monitor.js"></script>-->
    <script src="/js/getParam.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.js"></script>-->


</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                        <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                        <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Other Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item active" href="full-width.html">Full Width Page</a>
                        <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="404.html">404</a>
                        <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Full Width
        <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Full Width</li>
    </ol>

    <p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You
        can view all of our unstyled templates on our website at
    </p>

    <!--content-->
    <div id="container" style="height: 700px"></div>
    <script type="text/javascript" th:inline="none">
        //根据输入公司名获取公司的历史价格数组


        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        myChart.showLoading();
        var today_price = null;
        var companys = null;
        var newJson = null;
        var createTimes = null;
        // var priceArr = "'海昌石化':[123,112,33,22]";

        //TODO 测试echart数据
        $.ajax({
            url: "/petroleumCoke/selectAll", //获取所有石油焦数据list
            type: "POST",
            success: function (data) {
                myChart.hideLoading(); //数据data加载后隐藏loading

                today_price = getParamValues("today_price", data); //OK
                console.log(today_price); //OK
                companys = getParamValues("company", data);
                companys = companys.delDuplicate(); //去重
                console.log("companys:" + companys);

                newJson = getJsonResult("today_price", data, "company", companys.delDuplicate());
                // priceArr = getPriceByCname(companys[0],newJson);
                // console.log("priceArr:"+priceArr);

                createTimes = getParamValues("create_time", data).delDuplicate();
                console.log("createTimes:" + createTimes);

                // console.log("newJson:" + newJson);
                var jsonObj = eval('(' + newJson + ')');
                console.log("JSON.stringify(jsonObj):" + JSON.stringify(jsonObj));
                // console.log("jsonObj.get(\"海昌石化\"):"+jsonObj.get("海昌石化"));
                // var priceByCname = getPriceByCname("海昌石化", jsonObj);
                // console.log("priceByCname:" + priceByCname);
                //
                // var b = getArrByName("海昌石化", jsonObj);

                myChart.setOption({
                    title: {
                        text: '石油焦价格走向图'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: { //点选标题
                        data: companys
                    },
                    grid: { //布局
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {} //保存为图片
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        //底部x轴
                        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} 元'
                        }
                    },
                    dataset: {
                        source: {}
                    },
                    series: [{
                        type: 'bar',


                    }


                        // {
                        //     name: companys[0],
                        //     type: 'line',
                        //     // stack: '总量',
                        //     smooth: false, //硬线转丝滑线 (smooth)
                        //     // symbol: 'roundRect', //鼠标放置上去后的显示状态(圆点⚪,方块 ■)
                        //     data: [400, 132, 101, 134, 90, 230, 210],
                        // },
                        // {
                        //     name: companys[1],
                        //     type: 'line',
                        //     // stack: '总量',
                        //     data: [220, 182, 191, 234, 290, 330, 310]
                        // },
                        // {
                        //     name: companys[2],
                        //     type: 'line',
                        //     // stack: '总量',
                        //     data: [150, 232, 201, 154, 190, 330, 410]
                        // }
                        // {
                        //     name: '直接访问',
                        //     type: 'line',
                        //     stack: '总量',
                        //     data: [320, 332, 301, 334, 390, 330, 320]
                        // },
                        // {
                        //     name: '搜索引擎',
                        //     type: 'line',
                        //     stack: '总量',
                        //     data: [820, 932, 901, 934, 1290, 1330, 1320]
                        // }
                    ]
                })
            }
        });
        //
        // if (option && typeof option === "object") {
        //     myChart.setOption(option, true);
        // }

    </script>


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<div id="layer04_right_chart" class="chart"></div>
<style>
    .chart {
        width: 700px;
        height: 600px;
    }
</style>

<!--test-->
<div id="graduateyear" class="chart"></div>

</body>


<!--test echarts by jq22 demo-->
<script th:inline="none">
    // /*获取json数据中的某一个字段*/
    // function getParamValues(name, json) {
    //     var ret = [];
    //     var len = Object.keys(json).length;
    //
    //     for (var i = 0; i < len; i++) {
    //         ret.push(json[i][name]);
    //     }
    //     return ret;
    // }

    // /*获取json数据中的某一个字段key根据给定value => 数组*/
    // function getParamValuesByCname(name, json, key, value) {
    //     var ret = [];
    //     var len = Object.keys(json).length;
    //
    //     for (var i = 0; i < len; i++) {
    //         if (json[i][key] == value) {
    //             ret.push(json[i][name]);
    //         }
    //     }
    //     return ret;
    // }


    /*数组去重*/
    Array.prototype.delDuplicate = function () {
        var arr = new Array();
        for (var i = 0; i < this.length; i++) {
            if (arr.indexOf(this[i]) == -1) {
                arr.push(this[i]);
            }
        }
        console.log(JSON.stringify(arr));
        return arr;
    }

    var newJson = null;
    var companys = null;
    var today_price = null; //今日价格汇总
    var create_time = null; //创建时间
    var allData = null;
    //TODO 测试echart数据
    $.ajax({
        url: "/petroleumCoke/selectAll", //获取所有石油焦数据list
        type: "POST",
        success: function (data) {
            myChart.hideLoading(); //数据data加载后隐藏loading
            // alert(JSON.stringify(data.petroleumCokes)); OK
            // petroleumCokesJson = JSON.stringify(data); OK
            //石油焦json数据
            // petroleumCokesJson = data; //OK
            // console.log("JSON.stringify(data):" + JSON.stringify(data));
            console.log(data);
            allData = data;
            //获取去重复后的公司名称数组
            companys = getParamValues("company", data).delDuplicate();
            console.log("companys:"+companys);
            console.log("companys.length:" + companys.length);
            console.log("companys.length:" + companys.length);
            console.log("companys[0]:" + companys[0]);
            // company[0]的所有历史价格

            price0 = getParamValuesByCname("today_price", data, "company", companys[0]);
            console.log("price0:" + price0);
            //根据公司名查询历史价格 -> (数组)

            newJson = getJsonResult("today_price", data, "company", companys);
            console.log("newJson:" + newJson);
            today_price = getParamValues("today_price", data); //OK
            console.log(today_price); //OK

            // alert(today_price); //OK
            create_time = getParamValues("create_time", data);
            console.log(create_time);


            renderLayer04Right();
        }
    });

    function getJson() {
        return newJson;
    }



    function renderLayer04Right() {

        var seriesContent = getSeriesContent(3,"line");
        console.log(seriesContent);

        var myChart = echarts.init(document.getElementById("layer04_right_chart"));

        var json = newJson;
        myChart.setOption({
            legend: {},
            tooltip: {},
            dataset: {

                source: {
                    // ['product', '2012', '2013', '2014', '2015'],
                    // ['Matcha Latte', 41.1, 30.4, 65.1, 53.3],
                    // ['Milk Tea', 86.5, 92.1, 85.7, 83.1],
                    // ['Cheese Cocoa', 24.1, 67.2, 79.5, 86.4]
                    'product': ['2012', '2013', '2014', '2015'],
                    //get company price by group
                    'Matcha Latte': [41.1, 30.4, 65.1, 53.3],
                    'Milk Tea': [86.5, 92.1, 85.7, 83.1],
                    'Cheese Cocoa': [24.1, 67.2, 79.5, 86.4]
                }
            },
            xAxis: [
                {type: 'category', gridIndex: 0},
                // {type: 'category', gridIndex: 1}
            ],
            yAxis:
                [
                    {gridIndex: 0},
                    // {gridIndex: 1}
                ],
            grid:
                [
                    {bottom: '55%'},
                    {top: '55%'}
                ],
            series:
               seriesContent
        });

        // These series are in the first grid.
        // content.traversal(),


        // These series are in the second grid.
        // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
        // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
        // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
        // {type: 'bar', xAxisIndex: 1, yAxisIndex: 1}

        //size:需要设定几个. typeIn:line,row?
        // function getSeriesContent(size,typeIn){
        //     var contentArr = [];
        //     for(var i=0;i<size;i++){
        //             contentArr.push({type: typeIn});
        //     }
        //     console.log("contentArr:"+contentArr);
        //     return contentArr;
        // }


        function get10MinutesScale() {
            var currDate = new Date();
            var odd = currDate.getMinutes() % 10;
            var returnArr = new Array();
            currDate.setMinutes(currDate.getMinutes() - odd);
            for (var i = 0; i < 7; i++) {
                returnArr.push(currDate.getHours() + ":" + (currDate.getMinutes() < 10 ? ("0" + currDate.getMinutes()) : currDate.getMinutes()));
                currDate.setMinutes(currDate.getMinutes() - 10);
            }
            return returnArr;
        }
    }


</script>

</html>
