<!DOCTYPE html>

<!--https://echarts.baidu.com/examples/-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>


    <!--<script scr="/js/echarts.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.js"></script>

    <script src="/js/customed.js"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                        <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                        <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Other Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item active" href="full-width.html">Full Width Page</a>
                        <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="404.html">404</a>
                        <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Full Width
        <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Full Width</li>
    </ol>

    <p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You
        can view all of our unstyled templates on our website at
    </p>

    <!--content-->

    <div id="container1" style="height: 700px"></div>
    <!--test echarts 2019-1-14-->
    <script type="text/javascript" th:inline="none">

        /*获取json数据中的某一个字段*/
        function getParamValues(name, json) {
            var ret = [];
            var len = Object.keys(json).length;

            for (var i = 0; i < len; i++) {
                ret.push(json[i][name]);
            }
            return ret;
        }

        /*数组去重*/
        Array.prototype.delDuplicate = function () {
            var arr = new Array();
            for (var i = 0; i < this.length; i++) {
                if (arr.indexOf(this[i]) == -1) {
                    arr.push(this[i]);
                }
            }
            console.log(JSON.stringify(arr));
            return arr;
        }

        //获取以公司为key的todayprice数组
        function getJsonResult(name, json, key, values) {
            var DataStr = '';
            var ret = [];
            var len = Object.keys(json).length;

            for (var j = 0; j < values.length; j++) {
                for (var i = 0; i < len; i++) {
                    if (json[i][key] == values[j]) {
                        // console.log("values[i]:" + values[i]);
                        // console.log("json[i][name]:" + json[i][name]);
                        ret.push(json[i][name]);

                    }
                }

                if (j != values.length - 1) {
                    DataStr += ("'" + values[j] + "':[" + ret + "],");
                    ret = [];
                } else {
                    DataStr += ("'" + values[j] + "':[" + ret + "]");
                    ret = [];
                }
                // console.log('values[i] + ":" + ret+",":' + values[i] + ":[" + ret + "],");
            }
            // var newJson = onDataStr.substring(onDataStr.length, onDataStr.length);
            return DataStr;
        }

        /*获取json数组长度*/
        // function getJsonLength(jsonData) {
        //     var length;
        //     for(var ever in jsonData) {
        //         length++;
        //     }
        //     return length;
        // }
        //

        var dom = document.getElementById("container1");
        var myChart = echarts.init(dom,"customed");
        //loading
        myChart.showLoading();
        var today_price = null;
        var companys = null;
        var newJson = null;
        var createTimes = null;
        //TODO 测试echart数据
        $.ajax({
            url: "/petroleumCoke/selectAll", //获取所有石油焦数据list
            type: "POST",
            success: function (data) {
                myChart.hideLoading(); //数据data加载后隐藏loading

                today_price = getParamValues("today_price", data); //OK
                console.log(today_price); //OK
                companys = getParamValues("company", data);
                companys = companys.delDuplicate(); //去重

                createTimes = getParamValues("create_time",data).delDuplicate();
                console.log("createTimes:"+createTimes);

                newJson = getJsonResult("today_price", data, "company", companys.delDuplicate());
                console.log("newJson:"+newJson);

                myChart.setOption({

                    legend: {},
                    tooltip: {},
                    dataset: {
                        dimensions: [
                            'createTimes',
                            'company',
                        ],
                        // 提供一份数据。
                        source: {
                            'createTimes':createTimes,
                            'company': companys,

                            // 'Matcha Latte': [43.3, 85.8, 93.7],
                            // 'Milk Tea': [83.1, 73.4, 55.1],
                            // 'Cheese Cocoa': [86.4, 65.2, 82.5],
                            // 'Walnut Brownie': [72.4, 53.9, 39.1]
                        }
                    },
                    // 声明一个 X 轴，类目轴（category）。默认情况下，类目轴对应到 dataset 第一列。
                    xAxis: {
                        type: 'category',
                        data:createTimes,
                        boundaryGap:false,
                    },
                    // 声明一个 Y 轴，数值轴。
                    yAxis: {type: 'value'},
                    // 声明多个 bar 系列，默认情况下，每个系列会自动对应到 dataset 的每一列。
                    series: [
                        {
                            type: 'line',
                            data:[11,112,3123],
                            encode:{
                                itemName:[1]
                            }
                            // encode: {
                            //     x: [0],
                            //     y: [1,'1']
                            // }
                        },
                        {
                            type:'line',
                            data:[1231,1112,331],
                            encode:{
                                itemName:[0]
                            }
                            // encode:{
                            //     x:[1],
                            //     y:[2]
                            // }
                        },
                        {
                            type:'line',
                            data:[121,1312,3123],
                            encode:{
                                itemName:[0,1]
                            }
                            // encode:{
                            //     x:[0],
                            //     y:[1]
                            // }
                        }

                    ]

                });


                // if (option && typeof option === "object") {
                //     myChart.setOption(option, true);
                // }
            }
        });
    </script>


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>
