<!DOCTYPE html>

<!--https://echarts.baidu.com/examples/-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>

    <!--<script src="/js/jquery-3.1.0.min.js"></script>-->

    <!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
    <!--<script src="/js/echarts_4.1.0.rc2_echarts.min.js"></script>-->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

    <!--<script src="monitor.js"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.js"></script>-->


</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Portfolio
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                        <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                        <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Other Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item active" href="full-width.html">Full Width Page</a>
                        <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                        <a class="dropdown-item" href="faq.html">FAQ</a>
                        <a class="dropdown-item" href="404.html">404</a>
                        <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Full Width
        <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Full Width</li>
    </ol>

    <p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You
        can view all of our unstyled templates on our website at
    </p>

    <!--content-->
    <div id="container" style="height: 700px"></div>
    <script type="text/javascript" th:inline="none">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: '折线图堆叠'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一','周二','周三','周四','周五','周六','周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'邮件营销',
                    type:'line',
                    stack: '总量',
                    smooth: true, //硬线转丝滑线 (smooth)
                    // symbol: 'roundRect', //鼠标放置上去后的显示状态(圆点⚪,方块 ■)
                    data:[120, 132, 101, 134, 90, 230, 210]

                },
                {
                    name:'联盟广告',
                    type:'line',
                    stack: '总量',
                    data:[220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name:'视频广告',
                    type:'line',
                    stack: '总量',
                    data:[150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name:'直接访问',
                    type:'line',
                    stack: '总量',
                    data:[320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name:'搜索引擎',
                    type:'line',
                    stack: '总量',
                    data:[820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };
        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>


</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<div id="layer04_right_chart" class="chart"></div>
<style>
    .chart{width:700px;height:600px;}
</style>

<!--test-->
<div id="graduateyear" class="chart"></div>

</body>



<!--test echarts by jq22 demo-->
<script th:inline="none">


    renderLayer04Right();

    function renderLayer04Right(){
        var myChart = echarts.init(document.getElementById("layer04_right_chart"));
        myChart.setOption({
                title: {
                    text: 'test echart demo'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    top:20,
                    right:5,
                    textStyle:{
                        color:'black'
                    },
                    orient:'vertical',
                    data:[
                        {name:'网络',icon:'circle'},
                        {name:'内存',icon:'circle'},
                        {name:'CPU',icon:'circle'}
                    ]
                },
                grid: {
                    left: '3%',
                    right: '16%',
                    bottom: '3%',
                    top:'13%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: true,
                    axisTick:{show:true},
                    axisLabel:{
                        textStyle:{
                            color:"black", //刻度颜色
                            fontSize:8  //刻度大小
                        }
                    },
                    axisLine:{
                        show:true,
                        lineStyle:{
                            color: '#0B3148',
                            width: 1,
                            type: 'solid'
                        }
                    },
                    splitLine:{ //x网状坐标轴线
                        show:true
                    },
                    data: get10MinutesScale()
                },
                yAxis: {
                    type: 'value',
                    axisTick:{show:true},
                    axisLabel:{
                        textStyle:{
                            color:"black", //刻度颜色
                            fontSize:8  //刻度大小
                        }
                    },
                    axisLine:{
                        show:true,
                        lineStyle:{
                            color: '#0B3148',
                            width: 1,
                            type: 'solid'
                        }
                    },
                    splitLine:{ //y网状坐标轴线
                        show:true
                    }
                },
                series: [
                    {
                        name:'网络',
                        type:'line',
                        itemStyle : {
                            normal : {
                                color:'#F3891B'
                            },
                            lineStyle:{
                                normal:{
                                    color:'#F3891B',
                                    opacity:1
                                }
                            }
                        },
                        data:[120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name:'内存',
                        type:'line',
                        itemStyle : {
                            normal : {
                                color:'#006AD4'
                            },
                            lineStyle:{
                                normal:{
                                    color:'#F3891B',
                                    opacity:1
                                }
                            }
                        },
                        data:[220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name:'CPU',
                        type:'line',
                        itemStyle : {
                            normal : {
                                color:'#009895'
                            },
                            lineStyle:{
                                normal:{
                                    color:'#009895',
                                    opacity:1
                                }
                            }
                        },
                        data:[150, 232, 201, 154, 190, 330, 410]
                    }
                ]
            }
        );
    }



    function get10MinutesScale()
    {
        var currDate = new Date();
        var odd = currDate.getMinutes()%10;
        var returnArr = new Array();
        currDate.setMinutes(currDate.getMinutes()-odd);
        for(var i = 0; i <7; i++){
            returnArr.push(currDate.getHours()+":"+(currDate.getMinutes()<10?("0"+currDate.getMinutes()):currDate.getMinutes()));
            currDate.setMinutes(currDate.getMinutes()-10);
        }
        return returnArr;
    }





    var graduateyear = echarts.init(document.getElementById('graduateyear'));
    option = {
        title: {
            text: "",
            x: 'center',
            y: 'top',
            textStyle: {
                color: '#fff',
                fontSize: 13
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: '3%',
            right: '8%',
            bottom: '5%',
            top: "13%",
            containLabel: true
        },
        color: ["#72b332", '#35a9e0'],
        legend: {
            data: ['test1', 'test2'],
            show: true,
            right: '15%',
            y: "0",
            textStyle: {
                color: "#999",
                fontSize: '13'
            },
        },
        toolbox: {
            show: false,
            feature: {
                mark: {
                    show: true
                },
                dataView: {
                    show: true,
                    readOnly: false
                },
                magicType: {
                    show: true,
                    type: ['line', 'bar', 'stack', 'tiled']
                },
                restore: {
                    show: true
                },
                saveAsImage: {
                    show: true
                }
            }
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: ['2022年', '2023年', '2024年', '2025年', '2026年', '2027年', '2028年'],
            splitLine: {
                show: true,
                lineStyle: {
                    color: '#2d3b53'
                }
            },
            axisLabel: {
                textStyle: {
                    color: "#fff"
                },
                alignWithLabel: true,
                interval: 0,
                rotate: '15'
            }
        }],
        yAxis: [{
            type: 'value',
            splitLine: {
                show: true,
                lineStyle: {
                    color: '#2d3b53'
                }
            },
            axisLabel: {
                textStyle: {
                    color: "#999"
                }
            },
        }],
        series: [{
            name: 'test1',
            type: 'line',
            smooth: true,
            symbol: 'roundRect',
            data: [1168, 1189, 1290, 1100, 1345, 1956, 1045]
        },
            {
                name: 'test2',
                type: 'line',
                smooth: true,
                symbol: 'roundRect',
                data: [1534, 1290, 1311, 1745, 1045, 1200, 3673]
            }]
    };
    graduateyear.setOption(option);

</script>

</html>
