<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>TestLogin</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body>

<p>test login</p>
<form action="/customer/login">
    客户注册name<input type="text" id="username" name="username" /> <br>
    客户password<input type="text" id="password" name="password" /> <br>
    <input type="submit" value="注册" />
</form>

<script>

</script>

</body>
</html>