<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
testfunction

<script>
var numberArr = [2323, 3000, 2703, 5321, 3421, 1688, 2422, 3211, 2900, 2902, 3100, 2981, 4212, 3021, 1899, 3200, 2901, 3002, 3002, 2133, 1943, 3522, 2199, 1790, 3000, 3002, 4211, 4432, 2377, 2355, 3288, 3211, 2352, 2677, 2578, 4288];
// console.log(numberArr);
// var newArr  = numberArr.addQuotationMarks;
// alert(newArr);
// Array.proto  type.addQuotationMarks = Array.forEach(function (item) {
//     console.log(item);
// })

console.log(['1','1','2'].map(Number));
console.log([1,2,3].map(String));
console.log(numberArr.map(String));

</script>

</body>
</html>