<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <h1>Welcome to implements-clan-admin-boot</h1>
    <a href="/admin/file" target="_blank">开发文档</a>

其它图示类:<br>
    <a href="http://assets.processon.com/chart_image/5c95862ce4b02ce2e8995a7e.png?_=1560413798701">物流a</a>
    <a href="http://assets.processon.com/chart_image/5c9485ece4b0c996d36d6fe7.png?_=1560413977260">物流b</a>
    <a href="http://assets.processon.com/chart_image/5c3d3e3ce4b0db2e5934c75d.png?_=1560414021366">物流c</a>
</body>
</html>